.bgIcon {
  position: absolute;
  height: 104.84%;
  width: 101.29%;
  top: 0;
  right: -1.29%;
  bottom: -4.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.b1,
.cRound,
.healthCare,
.performing,
.us {
  position: absolute;
  top: calc(50% - 162.63px);
  left: calc(50% - 403.92px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.b,
.b1,
.cRound,
.performing,
.us {
  left: calc(50% - 242.92px);
}
.b,
.b1,
.cRound,
.performing {
  left: calc(50% - 81.93px);
}
.b,
.b1,
.performing {
  left: calc(50% + 79.07px);
}
.b1,
.performing {
  left: calc(50% + 240.07px);
}
.b1 {
  left: calc(50% + 379.57px);
}
.iconMetroExpandLess {
  position: absolute;
  top: 40.59px;
  left: 1365.28px;
  width: 15.42px;
  height: 9.53px;
}
.founded2020,
.impactHealth {
  position: absolute;
  left: 93.58px;
  display: inline-block;
  width: 193px;
}
.impactHealth {
  top: calc(50% - 165.4px);
  line-height: 18px;
}
.founded2020 {
  top: calc(50% - 149.31px);
  font-size: var(--font-size-3xs);
}
.maskGroup40 {
  position: absolute;
  top: 8.47px;
  left: 20.31px;
  width: 64.88px;
  height: 39.97px;
  object-fit: cover;
}
.companyProfileChild {
  top: 96.73px;
}
.companyProfileChild,
.companyProfileChild1,
.companyProfileChild2,
.companyProfileInner,
.companyProfileItem,
.lineDiv {
  position: absolute;
  left: 18.31px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 650px;
  height: 2px;
}
.companyProfileItem {
  top: 140.04px;
}
.companyProfileChild1,
.companyProfileChild2,
.companyProfileInner,
.lineDiv {
  top: calc(50% - 2.61px);
}
.companyProfileChild1,
.companyProfileChild2,
.lineDiv {
  top: calc(50% + 40.69px);
}
.companyProfileChild1,
.companyProfileChild2 {
  top: calc(50% + 85.94px);
}
.companyProfileChild2 {
  top: calc(50% + 131.19px);
}
.multipleOfInvested,
.paidInCapitalPic {
  position: absolute;
  top: 109.38px;
  left: 26.81px;
}
.paidInCapitalPic {
  top: 152.69px;
}
.distributedToPaidIn {
  position: absolute;
  top: calc(50% + 8.04px);
  left: 26.81px;
}
.residualValueTo,
.totalValueTo {
  position: absolute;
  top: calc(50% + 53.35px);
  left: 26.81px;
}
.totalValueTo {
  top: calc(50% + 98.6px);
}
.b2 {
  top: 110.38px;
  left: calc(50% - 54.04px);
  line-height: 20px;
  font-family: var(--font-azo-sans);
  text-align: right;
}
.b2,
.b3,
.b4 {
  position: absolute;
}
.b3 {
  top: calc(50% - 32.27px);
  left: calc(50% - 54.04px);
  line-height: 20px;
  font-family: var(--font-azo-sans);
  text-align: right;
}
.b4 {
  top: calc(50% + 9.04px);
}
.b4,
.b5,
.b6 {
  left: calc(50% - 54.04px);
  line-height: 20px;
  font-family: var(--font-azo-sans);
  text-align: right;
}
.b5 {
  position: absolute;
  top: calc(50% + 54.35px);
}
.b6 {
  top: calc(50% + 99.6px);
}
.b6,
.k,
.shape {
  position: absolute;
}
.shape {
  width: calc(100% - 63.79px);
  right: 0;
  bottom: 0;
  left: 63.79px;
  background-color: var(--color-aliceblue-100);
  height: 1.34px;
}
.k {
  top: calc(50% - 9.67px);
  left: 0.31%;
  line-height: 13px;
}
.chartLeftValue,
.chartLeftValue1 {
  left: 0;
  width: 644.84px;
  height: 17.34px;
}
.chartLeftValue {
  position: absolute;
  top: 0;
}
.chartLeftValue1 {
  top: 30.57px;
}
.chartLeftValue1,
.k2,
.shape2 {
  position: absolute;
}
.shape2 {
  width: calc(100% - 57.79px);
  right: 0;
  bottom: 0;
  left: 57.79px;
  background-color: var(--color-aliceblue-100);
  height: 1.34px;
}
.k2 {
  top: calc(50% - 9.67px);
  left: 0.47%;
  line-height: 13px;
}
.chartLeftValue2 {
  position: absolute;
  top: 61.93px;
  left: 6px;
  width: 638.84px;
  height: 17.34px;
}
.chartLeftValue3 {
  position: absolute;
  top: 92.5px;
}
.chartLeftValue3,
.chartLeftValue4,
.chartLeftValue5 {
  left: 6px;
  width: 638.84px;
  height: 17.34px;
}
.chartLeftValue4 {
  position: absolute;
  top: 123.07px;
}
.chartLeftValue5 {
  top: 154.43px;
}
.chartLeftValue5,
.k6,
.shape6 {
  position: absolute;
}
.shape6 {
  width: calc(100% - 42.79px);
  right: 0;
  bottom: 0;
  left: 42.79px;
  background-color: var(--color-aliceblue-100);
  height: 1.34px;
}
.k6 {
  top: calc(50% - 9.67px);
  left: 0.16%;
  line-height: 14px;
}
.chartLeftValue6 {
  bottom: 0;
  left: 21px;
  width: 623.84px;
  height: 17.34px;
}
.chartLeftValue6,
.jan,
.value {
  position: absolute;
}
.value {
  height: 54.41%;
  width: 46.19%;
  top: 26.28%;
  right: 3.44%;
  bottom: 19.32%;
  left: 50.37%;
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
  font-family: var(--font-azo-sans);
}
.jan {
  top: calc(50% + 59.63px);
  left: 4.55%;
}
.dataChild,
.dataInner,
.dataItem {
  position: relative;
  background-color: var(--color-lightgray-100);
  width: 8px;
  height: 31px;
}
.dataInner,
.dataItem {
  background-color: var(--color-deepskyblue-100);
  height: 42px;
}
.dataInner {
  background-color: var(--color-royalblue);
}
.data {
  position: absolute;
  top: calc(50% - 75.63px);
  left: calc(50% - 4px);
  width: 8px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar {
  position: absolute;
  top: 75px;
  left: 1286px;
  width: 22px;
  height: 151.26px;
}
.jan1 {
  position: absolute;
  top: calc(50% + 93.13px);
  left: 0;
}
.dataChild1,
.dataChild2,
.rectangleDiv {
  position: relative;
  background-color: var(--color-lightgray-100);
  width: 8px;
  height: 42px;
}
.dataChild1,
.dataChild2 {
  background-color: var(--color-deepskyblue-100);
  height: 63px;
}
.dataChild2 {
  background-color: var(--color-royalblue);
  height: 77px;
}
.data1 {
  position: absolute;
  top: calc(50% - 109.13px);
  left: calc(50% - 4px);
  width: 8px;
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar1 {
  position: absolute;
  top: 8px;
  left: 1229px;
  width: 22px;
  height: 218.26px;
}
.jan2 {
  position: absolute;
  top: calc(50% + 64.13px);
  left: 5%;
}
.dataChild3,
.dataChild4,
.dataChild5 {
  position: relative;
  background-color: var(--color-lightgray-100);
  width: 8px;
  height: 35px;
}
.dataChild4,
.dataChild5 {
  background-color: var(--color-deepskyblue-100);
  height: 38px;
}
.dataChild5 {
  background-color: var(--color-royalblue);
  height: 51px;
}
.data2 {
  position: absolute;
  top: calc(50% - 80.13px);
  left: calc(50% - 4px);
  width: 8px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar2 {
  position: absolute;
  top: 66px;
  left: 1174px;
  width: 20px;
  height: 160.26px;
}
.jan3 {
  position: absolute;
  top: calc(50% + 81.63px);
  left: 4.55%;
}
.dataChild7,
.dataChild8 {
  position: relative;
  background-color: var(--color-deepskyblue-100);
  width: 8px;
  height: 44px;
}
.dataChild8 {
  background-color: var(--color-royalblue);
  height: 73px;
}
.data3 {
  position: absolute;
  top: calc(50% - 97.63px);
  left: calc(50% - 4px);
  width: 8px;
  height: 169px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar3 {
  position: absolute;
  top: 31px;
  left: 1117px;
  width: 22px;
  height: 195.26px;
}
.jan4 {
  position: absolute;
  top: calc(50% + 67.13px);
  left: 0;
}
.dataChild10 {
  position: relative;
  background-color: var(--color-deepskyblue-100);
  width: 8px;
  height: 46px;
}
.data4 {
  position: absolute;
  top: calc(50% - 83.13px);
  left: calc(50% - 4px);
  width: 8px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar4 {
  position: absolute;
  top: 60px;
  left: 1060px;
  width: 22px;
  height: 166.26px;
}
.jan5 {
  position: absolute;
  top: calc(50% + 63.63px);
  left: 6.25%;
}
.dataChild12,
.dataChild13,
.dataChild14 {
  position: relative;
  background-color: var(--color-lightgray-100);
  width: 8px;
  height: 13px;
}
.dataChild13,
.dataChild14 {
  background-color: var(--color-deepskyblue-100);
  height: 47px;
}
.dataChild14 {
  background-color: var(--color-royalblue);
  height: 63px;
}
.data5 {
  position: absolute;
  top: calc(50% - 79.63px);
  left: calc(50% - 4px);
  width: 8px;
  height: 133px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar5 {
  position: absolute;
  top: 67px;
  left: 1009px;
  width: 16px;
  height: 159.26px;
}
.jan6 {
  position: absolute;
  top: calc(50% + 79.13px);
  left: 9.09%;
  font-weight: 500;
}
.dataChild16,
.dataChild17 {
  position: relative;
  background-color: var(--color-deepskyblue-100);
  width: 8px;
  height: 48px;
}
.dataChild17 {
  background-color: var(--color-royalblue);
  height: 64px;
}
.data6 {
  position: absolute;
  top: calc(50% - 95.13px);
  left: calc(50% - 4px);
  width: 8px;
  height: 164px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar6 {
  position: absolute;
  top: 36px;
  left: 953px;
  width: 22px;
  height: 190.26px;
  color: var(--color-gray-300);
}
.jan7 {
  position: absolute;
  top: calc(50% + 92.13px);
  left: 4.17%;
}
.dataChild18,
.dataChild19,
.dataChild20 {
  position: relative;
  background-color: var(--color-lightgray-100);
  width: 8px;
  height: 50px;
}
.dataChild19,
.dataChild20 {
  background-color: var(--color-deepskyblue-100);
  height: 52px;
}
.dataChild20 {
  background-color: var(--color-royalblue);
  height: 78px;
}
.data7 {
  position: absolute;
  top: calc(50% - 108.13px);
  left: calc(50% - 4px);
  width: 8px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar7 {
  position: absolute;
  top: 10px;
  left: 894px;
  width: 24px;
  height: 216.26px;
}
.jan8 {
  position: absolute;
  top: calc(50% + 75.63px);
  left: 5%;
}
.dataChild21,
.dataChild22,
.dataChild23 {
  position: relative;
  background-color: var(--color-lightgray-100);
  width: 8px;
  height: 48px;
}
.dataChild22,
.dataChild23 {
  background-color: var(--color-deepskyblue-100);
  height: 40px;
}
.dataChild23 {
  background-color: var(--color-royalblue);
  height: 59px;
}
.data8 {
  position: absolute;
  top: calc(50% - 91.63px);
  left: calc(50% - 4px);
  width: 8px;
  height: 157px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar8 {
  position: absolute;
  top: 43px;
  left: 839px;
  width: 20px;
  height: 183.26px;
}
.jan9 {
  position: absolute;
  top: calc(50% + 97.13px);
  left: 0;
}
.dataChild25,
.dataChild26 {
  position: relative;
  background-color: var(--color-deepskyblue-100);
  width: 8px;
  height: 64px;
}
.dataChild26 {
  background-color: var(--color-royalblue);
  height: 84px;
}
.data9 {
  position: absolute;
  top: calc(50% - 113.13px);
  left: calc(50% - 4px);
  width: 8px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar9 {
  position: absolute;
  top: 0;
  left: 783px;
  width: 22px;
  height: 226.26px;
}
.jan10 {
  position: absolute;
  top: calc(50% + 64.13px);
  left: 0;
}
.dataChild27,
.dataChild28,
.dataChild29 {
  position: relative;
  background-color: var(--color-lightgray-100);
  width: 8px;
  height: 29px;
}
.dataChild28,
.dataChild29 {
  background-color: var(--color-deepskyblue-100);
  height: 37px;
}
.dataChild29 {
  background-color: var(--color-royalblue);
  height: 58px;
}
.graphStackedBar10 {
  position: absolute;
  top: 66px;
  left: 728px;
  width: 20px;
  height: 160.26px;
}
.jan11 {
  position: absolute;
  top: calc(50% + 84.63px);
  left: 5%;
}
.dataChild31,
.dataChild32 {
  position: relative;
  background-color: var(--color-deepskyblue-100);
  width: 8px;
  height: 54px;
}
.dataChild32 {
  background-color: var(--color-royalblue);
  height: 69px;
}
.data11 {
  position: absolute;
  top: calc(50% - 100.63px);
  left: calc(50% - 4px);
  width: 8px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.graphStackedBar11 {
  position: absolute;
  top: 25px;
  left: 672px;
  width: 20px;
  height: 201.26px;
}
.graphStackedBar12,
.graphStackedBar13 {
  position: absolute;
  top: 75px;
  left: 614px;
  width: 22px;
  height: 151.26px;
}
.graphStackedBar13 {
  top: 8px;
  left: 557px;
  height: 218.26px;
}
.graphStackedBar14 {
  position: absolute;
  top: 66px;
  left: 502px;
  width: 20px;
  height: 160.26px;
}
.graphStackedBar15,
.graphStackedBar16 {
  position: absolute;
  top: 31px;
  left: 445px;
  width: 22px;
  height: 195.26px;
}
.graphStackedBar16 {
  top: 60px;
  left: 388px;
  height: 166.26px;
}
.graphStackedBar17 {
  position: absolute;
  top: 67px;
  left: 337px;
  width: 16px;
  height: 159.26px;
}
.jan18 {
  position: absolute;
  top: calc(50% + 79.13px);
  left: 5%;
}
.graphStackedBar18 {
  position: absolute;
  top: 36px;
  left: 282px;
  width: 20px;
  height: 190.26px;
}
.graphStackedBar19 {
  position: absolute;
  top: 10px;
  left: 222px;
  width: 24px;
  height: 216.26px;
}
.graphStackedBar20 {
  position: absolute;
  top: 43px;
  left: 167px;
  width: 20px;
  height: 183.26px;
}
.graphStackedBar21 {
  position: absolute;
  top: 0;
  left: 111px;
  width: 22px;
  height: 226.26px;
}
.graph,
.graphStackedBar22,
.graphStackedBar23 {
  position: absolute;
  top: 66px;
  left: 56px;
  width: 20px;
  height: 160.26px;
}
.graph,
.graphStackedBar23 {
  top: 25px;
  left: 0;
  height: 201.26px;
}
.graph {
  top: 0;
  left: -654px;
  width: 1308px;
  height: 226.26px;
}
.titlee {
  position: relative;
  font-family: var(--font-cresta);
}
.sales {
  border-radius: var(--br-7xs);
  background-color: var(--color-lightgray-100);
  width: 8px;
  height: 8px;
  margin-top: 1px;
}
.div,
.onlineSales,
.sales {
  position: relative;
}
.onlineSales {
  color: var(--color-lightslategray);
  margin-left: 6px;
}
.data24 {
  width: 77px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
  align-self: flex-end;
}
.sales1 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-deepskyblue-100);
  width: 8px;
  height: 8px;
  margin-top: 1px;
}
.data25 {
  width: 79px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.sales2 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 8px;
  height: 8px;
  margin-top: 1px;
}
.data26 {
  width: 77px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.tooltipIcon {
  position: relative;
  width: 149px;
  height: 149px;
  margin-left: -15px;
}
.pointerLeft {
  position: absolute;
  top: 18px;
  left: 326px;
  width: 104px;
  height: 104px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-mini);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-7xs);
  text-align: left;
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.scrollGroup8 {
  position: absolute;
  height: 60.84%;
  width: 39.7%;
  top: 26.55%;
  right: 4.76%;
  bottom: 12.62%;
  left: 55.54%;
  overflow-x: auto;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
}
.shape7 {
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightgray-100);
  width: 10px;
  height: 10px;
}
.marketingSales {
  top: calc(50% - 10px);
  left: 15.93%;
  letter-spacing: 0.1px;
}
.income,
.marketingSales,
.shape8 {
  position: absolute;
}
.income {
  top: 0;
  right: 0;
  width: 113px;
  height: 20px;
}
.shape8 {
  top: calc(50% - 5px);
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-deepskyblue-100);
  width: 10px;
  height: 10px;
}
.income1 {
  position: absolute;
  top: 0;
  left: 130px;
  width: 113px;
  height: 20px;
}
.shape9 {
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 10px;
  height: 10px;
}
.marketingSales2 {
  position: absolute;
  top: calc(50% - 10px);
  left: 16.36%;
  letter-spacing: 0.1px;
}
.legend,
.online {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 20px;
}
.legend {
  height: 5.38%;
  width: 26.93%;
  top: 17.4%;
  right: 22.49%;
  bottom: 77.22%;
  left: 50.57%;
  color: var(--color-slategray);
  font-family: var(--font-poppins);
}
.seeMore {
  position: absolute;
  top: -2px;
  left: 7px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.iconMaterialArrowForward {
  position: absolute;
  height: calc(100% - 1.69px);
  top: 0.85px;
  right: 0;
  bottom: 0.85px;
  max-height: 100%;
  width: 14.31px;
}
.componeseeMoreButtonnt254 {
  position: absolute;
  right: 24.6px;
  bottom: 16.51px;
  width: 108.9px;
  height: 16px;
  cursor: pointer;
  text-align: right;
  color: var(--color-royalblue);
}
.image {
  position: absolute;
  height: calc(100% - 331.95px);
  width: calc(100% - 1331.12px);
  top: 8.47px;
  right: 1310.81px;
  bottom: 323.48px;
  left: 20.31px;
  background-color: var(--color-royalblue);
  opacity: 0.58;
  mix-blend-mode: multiply;
}
.companyProfile {
  position: absolute;
  top: 385px;
  left: 142px;
  width: 1396px;
  height: 371.92px;
  cursor: pointer;
}
.investmentStage,
.location,
.ownership,
.status {
  position: absolute;
  top: 363.51px;
  left: 598.5px;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  display: inline-block;
  width: 132px;
}
.investmentStage,
.ownership,
.status {
  left: 759px;
}
.ownership,
.status {
  left: 1079px;
}
.ownership {
  left: 1221.5px;
}
.originalInvestmentAmount {
  margin: 0;
}
.originalInvestmentAmountContainer,
.sector {
  position: absolute;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  display: inline-block;
}
.originalInvestmentAmountContainer {
  top: 347.01px;
  left: 919.5px;
  line-height: 18px;
  width: 149px;
  height: 33px;
}
.sector {
  top: 363.51px;
  left: 438px;
  width: 132px;
}
.portfolioCompanies {
  position: absolute;
  top: 322px;
  left: 142px;
  font-size: var(--font-size-9xl);
  line-height: 40px;
}
.bgIcon1 {
  position: absolute;
  height: 128.73%;
  width: 101.29%;
  top: 0;
  right: -1.29%;
  bottom: -28.73%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b7,
.b8,
.cRound1,
.healthCare1,
.us1,
.watchlist {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 403.92px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.b7,
.b8,
.cRound1,
.us1,
.watchlist {
  left: calc(50% - 242.92px);
}
.b7,
.b8,
.cRound1,
.watchlist {
  left: calc(50% - 81.93px);
}
.b7,
.b8,
.watchlist {
  left: calc(50% + 79.07px);
}
.b8,
.watchlist {
  left: calc(50% + 274.07px);
}
.b8 {
  left: calc(50% + 450.57px);
}
.iconMetroExpandMore {
  position: absolute;
  top: calc(50% + 9.26px);
  right: 15.29px;
  width: 15.42px;
  height: 9.53px;
}
.founded20201,
.portfolioCompany02 {
  position: absolute;
  left: 93.58px;
  display: inline-block;
  width: 193px;
}
.portfolioCompany02 {
  top: calc(50% - 10.77px);
  line-height: 18px;
}
.founded20201 {
  top: calc(50% + 5.32px);
  font-size: var(--font-size-3xs);
}
.maskGroup11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.maskGroup11Wrapper {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-orange);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.companyProfile1 {
  position: absolute;
  top: 776.92px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile2 {
  top: 1190.72px;
}
.companyProfile2,
.companyProfile3,
.companyProfile4 {
  position: absolute;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile3 {
  top: 1604.53px;
}
.companyProfile4 {
  bottom: 301.01px;
}
.b16,
.impaired {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 272.07px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.b16 {
  left: calc(50% + 451.57px);
}
.maskGroup11Wrapper1 {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-skyblue);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.companyProfile5 {
  position: absolute;
  top: 859.58px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile6 {
  top: 1273.38px;
}
.companyProfile6,
.companyProfile7,
.companyProfile8 {
  position: absolute;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile7 {
  top: 1687.19px;
}
.companyProfile8 {
  bottom: 218.34px;
}
.b24 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 448.57px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.maskGroup11Wrapper5 {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-dimgray-200);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.companyProfile9 {
  position: absolute;
  top: 942.24px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile10 {
  top: 1356.05px;
}
.companyProfile10,
.companyProfile11,
.companyProfile12 {
  position: absolute;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile11 {
  top: 1769.85px;
}
.companyProfile12 {
  bottom: 135.68px;
}
.b32 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 449.57px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.maskGroup11Wrapper9 {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-lightgray-200);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.companyProfile13 {
  position: absolute;
  top: 1024.91px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile14 {
  top: 1438.71px;
}
.companyProfile14,
.companyProfile15,
.companyProfile16 {
  position: absolute;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile15 {
  top: 1852.52px;
}
.companyProfile16 {
  bottom: 53.02px;
}
.maskGroup11Wrapper13 {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-royalblue);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.maskGroup401 {
  position: absolute;
  top: 8.34px;
  left: 19.31px;
  width: 65.88px;
  height: 40.58px;
  object-fit: cover;
}
.image1 {
  position: absolute;
  height: calc(100% - 22.21px);
  width: calc(100% - 1330.32px);
  top: 8.47px;
  right: 1310.81px;
  bottom: 13.74px;
  left: 19.52px;
  background-color: var(--color-royalblue);
  opacity: 0.58;
  mix-blend-mode: multiply;
}
.companyProfile17 {
  top: 1107.57px;
}
.companyProfile17,
.companyProfile18,
.companyProfile19 {
  position: absolute;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile18 {
  top: 1521.37px;
}
.companyProfile19 {
  bottom: 384.16px;
}
.groupChild,
.groupItem,
.tabNavButtonChild {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-181xl);
}
.groupChild {
  width: calc(100% - 2px);
  right: 2px;
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
}
.groupItem,
.tabNavButtonChild {
  mix-blend-mode: multiply;
}
.groupItem {
  width: calc(100% - 2px);
  right: 2px;
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
}
.tabNavButtonChild {
  width: 100%;
  right: 0;
  background-color: var(--color-lightsteelblue);
  opacity: 0;
}
.overview {
  position: absolute;
  top: 25%;
  left: 40.34%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.iconMaterialInfoOutline {
  position: absolute;
  height: 50%;
  width: 8.58%;
  top: 25%;
  right: 65.24%;
  bottom: 25%;
  left: 26.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupInner,
.tabNavButton {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 233px;
}
.groupInner {
  width: 100%;
  right: 0;
  border-radius: var(--br-181xl);
  background-color: var(--color-lightgray-200);
  opacity: 0;
  mix-blend-mode: multiply;
}
.perfromance {
  position: absolute;
  top: 25%;
  left: 32.68%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.monitoringFill0Wght400Grad0Icon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 70.67px);
  width: 20px;
  height: 20px;
}
.rectangleGroup {
  width: calc(100% - 2px);
  right: 1px;
  left: 1px;
}
.rectangleGroup,
.tabNavButton1,
.tabNavButtonInner {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.tabNavButton1 {
  left: calc(50% - 466px);
  width: 233px;
}
.tabNavButtonInner {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-181xl);
  background-color: var(--color-lightsteelblue);
  mix-blend-mode: multiply;
}
.portfolio {
  position: absolute;
  top: 25%;
  left: 37.91%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.domainFill0Wght400Grad0OpsIcon {
  position: absolute;
  height: 45%;
  width: 8.58%;
  top: 27.5%;
  right: 66.67%;
  bottom: 27.5%;
  left: 24.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 233px);
  width: 233px;
}
.investors {
  position: absolute;
  top: 25%;
  left: 38.2%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.handshakeFill0Wght400Grad0Icon {
  position: absolute;
  height: 45.4%;
  width: 8.58%;
  top: 27.3%;
  right: 66.09%;
  bottom: 27.3%;
  left: 25.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 0px);
  width: 233px;
}
.servicing {
  position: absolute;
  top: 25%;
  left: 38.16%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.designServicesFill0Wght400Icon,
.tabNavButton4 {
  position: absolute;
  top: 11.18px;
  left: calc(50% - 54.42px);
  width: 17.83px;
  height: 17.81px;
}
.tabNavButton4 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 233px);
  width: 233px;
}
.compliance {
  position: absolute;
  top: 25%;
  left: 35.52%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.factCheckFill0Wght400Grad0Icon {
  position: absolute;
  height: 44.12%;
  width: 8.58%;
  top: 27.94%;
  right: 69.85%;
  bottom: 27.94%;
  left: 21.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton5 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 233px;
}
.rectangleParent {
  position: absolute;
  top: 175px;
  left: 142px;
  width: 1398px;
  height: 40px;
  text-align: center;
}
.path462Icon {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1520px;
  height: 178px;
}
.maskGroup35 {
  position: absolute;
  height: 100%;
  width: calc(100% - 135px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 135px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.privateHealthcareFundContainer {
  position: absolute;
  bottom: 21px;
  left: 146px;
  line-height: 24px;
}
.backArrowButton {
  position: absolute;
  top: calc(50% + 22px);
  left: 27px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.maskGroup38 {
  position: absolute;
  width: calc(100% - 14px);
  top: calc(50% - 13px);
  right: 7px;
  left: 7px;
  max-width: 100%;
  overflow: hidden;
  height: 27px;
  object-fit: cover;
}
.maskGroup38Wrapper {
  position: absolute;
  bottom: 22px;
  left: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 75px;
  height: 46px;
}
.privateHealthcareFundIiiParent {
  position: absolute;
  height: 100%;
  width: calc(100% - 150px);
  top: 0;
  right: 150px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(10, 26, 39, 0.6),
    #0a1a27
  );
}
.maskGroup35Parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fundDetailPortfolioCompanInner {
  position: absolute;
  top: 0;
  left: 78px;
  width: 1672px;
  height: 162px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.maskGroup351 {
  position: absolute;
  width: calc(100% - 116px);
  right: 0;
  bottom: 0;
  left: 116px;
  max-width: 100%;
  overflow: hidden;
  height: 177px;
  object-fit: cover;
}
.nexusHealthEquity {
  position: absolute;
  top: calc(50% - 33.5px);
  left: 228px;
  line-height: 48px;
}
.backArrowButton1 {
  position: absolute;
  top: calc(50% - 20.5px);
  left: 27px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.maskGroup381 {
  position: absolute;
  width: calc(100% - 26px);
  top: calc(50% - 27px);
  right: 13px;
  left: 13px;
  max-width: 100%;
  overflow: hidden;
  height: 54px;
  object-fit: cover;
}
.maskGroup38Container {
  position: absolute;
  top: calc(50% - 29.5px);
  left: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 149px;
  height: 92px;
}
.nexusHealthEquityFundParent {
  position: absolute;
  height: 100%;
  width: calc(100% - 114px);
  top: 0;
  right: 114px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(10, 26, 39, 0.6),
    #0a1a27
  );
}
.maskGroup35Group {
  position: absolute;
  top: 2px;
  left: 78px;
  width: 1636px;
  height: 247px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.rectangleContainer {
  position: absolute;
  top: 259px;
  left: 142px;
  width: 1398px;
  height: 40px;
  text-align: center;
}
.navbarbgIcon {
  position: absolute;
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  top: 0;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.userMenuIcon {
  position: absolute;
  top: calc(50% - 17px);
  right: 22px;
  width: 62px;
  height: 36px;
}
.groupIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 109.79px;
}
.t {
  letter-spacing: -0.06px;
}
.v {
  letter-spacing: -0.13px;
}
.alternativeInvestmentPlatforContainer {
  position: absolute;
  top: calc(50% - 11px);
  right: 19px;
  line-height: 12px;
}
.groupParent {
  position: absolute;
  top: calc(50% - 19.7px);
  left: 22px;
  width: 261.22px;
  height: 39.4px;
}
.search {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 64px);
}
.iconactionsearch24px {
  position: absolute;
  top: calc(50% - 12px);
  left: 8px;
  width: 24px;
  height: 24px;
}
.searchParent {
  position: absolute;
  top: calc(50% - 17px);
  right: 102px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 220px;
  height: 36px;
  font-family: var(--font-cresta);
}
.navbarbgParent {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1520px;
  height: 70px;
  font-family: var(--font-cresta-medium);
}
.path428Icon {
  position: absolute;
  height: 100%;
  width: calc(100% - 0.5px);
  top: 0;
  right: 0.5px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.leftNavButtonChild,
.leftNavButtonInner {
  position: absolute;
  height: calc(100% - 12px);
  top: 6px;
  bottom: 6px;
}
.leftNavButtonChild {
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-100);
  width: 48px;
}
.leftNavButtonInner {
  left: 0;
  background-color: var(--color-deepskyblue-200);
  width: 6px;
}
.storefrontFill1Wght400Grad0Icon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 28.83px;
  bottom: 20px;
  max-height: 100%;
  width: 22.33px;
}
.leftNavButton {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 143px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.notificationsFill0Wght400GrIcon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 32px;
  bottom: 20px;
  max-height: 100%;
  width: 16px;
  opacity: 0.5;
}
.ellipseIcon {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 2px);
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.div3 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% + 2px);
  letter-spacing: 0.8px;
  font-weight: 500;
}
.leftNavButton1 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 203px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.iconAwesomeTasks {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.7px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton2 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 217px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.manageAccountsFill0Wght400Icon {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.8px;
  height: 20px;
}
.leftNavButton3 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 97px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.homeStorageFill0Wght400GraIcon {
  position: absolute;
  right: 30.16px;
  bottom: 20px;
  width: 19.69px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton4 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 157px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.settingsFill0Wght400Grad0OIcon {
  position: absolute;
  top: calc(50% - 10px);
  right: 30.22px;
  width: 19.56px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton5 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 92px;
  left: 0;
  height: 60px;
}
.logoutFill0Wght400Grad0OpsIcon {
  position: absolute;
  top: 20px;
  right: 30.17px;
  width: 19.67px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton6 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 32px;
  left: 0;
  height: 60px;
}
.homeFill0Wght300Grad0Opsz4Icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 9.05px);
  width: 18.1px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton7 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 83px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.domainFill0Wght400Grad0OpsIcon2 {
  position: absolute;
  width: calc(100% - 57.78px);
  right: 28.76px;
  bottom: 20.19px;
  left: 29.01px;
  max-width: 100%;
  overflow: hidden;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton8 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 443px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.leftNavClosedChild {
  position: absolute;
  top: 798.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 81px;
  height: 2px;
}
.closedMenuIconChild {
  top: 0;
  width: 22px;
}
.closedMenuIconChild,
.closedMenuIconInner,
.closedMenuIconItem {
  position: absolute;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  height: 2.5px;
}
.closedMenuIconItem {
  bottom: 0;
  width: 22px;
}
.closedMenuIconInner {
  top: calc(50% - 1.25px);
  width: 17px;
}
.chevronRightFill0Wght400GrIcon {
  position: absolute;
  height: 73.95%;
  width: 28.07%;
  top: 13.55%;
  right: 0;
  bottom: 12.5%;
  left: 71.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closedMenuIcon {
  position: absolute;
  top: 25px;
  left: 22.29px;
  width: 29.81px;
  height: 20px;
  opacity: 0.5;
}
.navDrawerLeft {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 80.5px;
  height: 960px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-azo-sans);
}
.component2099 {
  position: absolute;
  top: 848px;
  right: 4px;
  width: 74px;
  height: 74px;
}
.fundDetailPortfolioCompan {
  position: relative;
  background-color: var(--color-aliceblue-100);
  width: 100%;
  height: 2382px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-cresta);
}
