.location {
  position: absolute;
  top: 363.51px;
  left: 583.5px;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  display: inline-block;
  width: 132px;
}
.investmentStage {
  top: 363.51px;
  left: 741px;
}
.investmentStage,
.ownershipConcentration,
.status {
  position: absolute;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  display: inline-block;
  width: 132px;
}
.status {
  top: 363.51px;
  left: 1107px;
}
.ownershipConcentration {
  top: 347px;
  right: 177px;
  line-height: 18px;
}
.originalInvestmentAmount {
  margin: 0;
}
.originalInvestmentAmountContainer,
.sector {
  position: absolute;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  display: inline-block;
}
.originalInvestmentAmountContainer {
  top: 347.01px;
  left: 906.5px;
  line-height: 18px;
  width: 149px;
  height: 33px;
}
.sector {
  top: 363.51px;
  left: 438px;
  width: 132px;
}
.portfolioCompanies {
  position: absolute;
  top: 322px;
  left: 142px;
  font-size: var(--font-size-9xl);
  line-height: 40px;
}
.bgIcon {
  position: absolute;
  height: 128.73%;
  width: 101.29%;
  top: 0;
  right: -1.29%;
  bottom: -28.73%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.b1,
.cRound,
.healthCare,
.us,
.watchlist {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 403.92px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.b,
.b1,
.cRound,
.us,
.watchlist {
  left: calc(50% - 242.92px);
}
.b,
.b1,
.cRound,
.watchlist {
  left: calc(50% - 81.93px);
}
.b,
.b1,
.watchlist {
  left: calc(50% + 79.07px);
}
.b1,
.watchlist {
  left: calc(50% + 274.07px);
}
.b1 {
  left: calc(50% + 450.57px);
}
.iconMetroExpandMore {
  position: absolute;
  top: calc(50% + 9.26px);
  right: 15.29px;
  width: 15.42px;
  height: 9.53px;
}
.founded2020 {
  position: absolute;
  top: calc(50% + 5.32px);
  left: 93.58px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 193px;
}
.maskGroup11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.maskGroup11Wrapper {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-orange);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.companyProfile,
.companyProfile1,
.companyProfile2,
.companyProfile3 {
  position: absolute;
  top: 467.66px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile1,
.companyProfile2,
.companyProfile3 {
  top: 881.47px;
}
.companyProfile2,
.companyProfile3 {
  top: 1295.27px;
}
.companyProfile3 {
  top: 1709.08px;
}
.b9,
.impaired {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 272.07px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.b9 {
  left: calc(50% + 451.57px);
}
.maskGroup11Wrapper1 {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-skyblue);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.companyProfile4 {
  position: absolute;
  top: 550.33px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile5 {
  top: 964.13px;
}
.companyProfile5,
.companyProfile6,
.companyProfile7 {
  position: absolute;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile6 {
  top: 1377.94px;
}
.companyProfile7 {
  bottom: 289.6px;
}
.b17 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 448.57px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.maskGroup11Wrapper5 {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-dimgray-200);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.companyProfile8 {
  position: absolute;
  top: 632.99px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile9 {
  top: 1046.79px;
}
.companyProfile10,
.companyProfile11,
.companyProfile9 {
  position: absolute;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile10 {
  top: 1460.6px;
}
.companyProfile11 {
  bottom: 206.93px;
}
.b25 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 449.57px);
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.maskGroup11Wrapper9 {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-lightgray-200);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.companyProfile12 {
  position: absolute;
  top: 715.65px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile13 {
  top: 1129.46px;
}
.companyProfile13,
.companyProfile14,
.companyProfile15 {
  position: absolute;
  left: 142px;
  width: 1396px;
  height: 62.66px;
}
.companyProfile14 {
  top: 1543.26px;
}
.companyProfile15 {
  bottom: 124.27px;
}
.impactHealth {
  position: absolute;
  top: calc(50% - 10.77px);
  left: 93.58px;
  line-height: 18px;
  display: inline-block;
  width: 193px;
}
.maskGroup11Wrapper13 {
  position: absolute;
  top: 8.47px;
  left: 19.31px;
  background-color: var(--color-royalblue);
  width: 65.76px;
  height: 40.19px;
  mix-blend-mode: multiply;
}
.maskGroup40 {
  position: absolute;
  top: 8.34px;
  left: 19.31px;
  width: 65.88px;
  height: 40.58px;
  object-fit: cover;
}
.image {
  position: absolute;
  height: calc(100% - 22.21px);
  width: calc(100% - 1330.32px);
  top: 8.47px;
  right: 1310.81px;
  bottom: 13.74px;
  left: 19.52px;
  background-color: var(--color-royalblue);
  opacity: 0.58;
  mix-blend-mode: multiply;
}
.companyProfile16,
.companyProfile17,
.companyProfile18,
.companyProfile19 {
  position: absolute;
  top: 384.51px;
  left: 142px;
  width: 1396px;
  height: 62.66px;
  cursor: pointer;
}
.companyProfile17,
.companyProfile18,
.companyProfile19 {
  top: 798.32px;
}
.companyProfile18,
.companyProfile19 {
  top: 1212.12px;
}
.companyProfile19 {
  top: 1625.92px;
}
.groupChild,
.groupItem,
.tabNavButtonChild {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-181xl);
}
.groupChild {
  width: calc(100% - 2px);
  right: 2px;
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
}
.groupItem,
.tabNavButtonChild {
  mix-blend-mode: multiply;
}
.groupItem {
  width: calc(100% - 2px);
  right: 2px;
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
}
.tabNavButtonChild {
  width: 100%;
  right: 0;
  background-color: var(--color-lightsteelblue);
  opacity: 0;
}
.overview {
  position: absolute;
  top: 25%;
  left: 40.34%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.iconMaterialInfoOutline {
  position: absolute;
  height: 50%;
  width: 8.58%;
  top: 25%;
  right: 65.24%;
  bottom: 25%;
  left: 26.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupInner,
.tabNavButton {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 233px;
}
.groupInner {
  width: 100%;
  right: 0;
  border-radius: var(--br-181xl);
  background-color: var(--color-lightgray-200);
  opacity: 0;
  mix-blend-mode: multiply;
}
.performance {
  position: absolute;
  top: 25%;
  left: 32.68%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.monitoringFill0Wght400Grad0Icon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 70.67px);
  width: 20px;
  height: 20px;
}
.rectangleGroup {
  width: calc(100% - 2px);
  right: 1px;
  left: 1px;
}
.rectangleGroup,
.tabNavButton1,
.tabNavButtonInner {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.tabNavButton1 {
  left: calc(50% - 466px);
  width: 233px;
}
.tabNavButtonInner {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-181xl);
  background-color: var(--color-lightsteelblue);
  mix-blend-mode: multiply;
}
.portfolio {
  position: absolute;
  top: 25%;
  left: 37.91%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.domainFill0Wght400Grad0OpsIcon {
  position: absolute;
  height: 45%;
  width: 8.58%;
  top: 27.5%;
  right: 66.67%;
  bottom: 27.5%;
  left: 24.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 233px);
  width: 233px;
}
.investors {
  position: absolute;
  top: 25%;
  left: 38.2%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.handshakeFill0Wght400Grad0Icon {
  position: absolute;
  height: 45.4%;
  width: 8.58%;
  top: 27.3%;
  right: 66.09%;
  bottom: 27.3%;
  left: 25.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 0px);
  width: 233px;
}
.servicing {
  position: absolute;
  top: 25%;
  left: 38.16%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.designServicesFill0Wght400Icon,
.tabNavButton4 {
  position: absolute;
  top: 11.18px;
  left: calc(50% - 54.42px);
  width: 17.83px;
  height: 17.81px;
}
.tabNavButton4 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 233px);
  width: 233px;
}
.compliance {
  position: absolute;
  top: 25%;
  left: 35.52%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.factCheckFill0Wght400Grad0Icon {
  position: absolute;
  height: 44.12%;
  width: 8.58%;
  top: 27.94%;
  right: 69.85%;
  bottom: 27.94%;
  left: 21.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton5 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 233px;
}
.rectangleParent {
  position: absolute;
  top: 259px;
  left: 142px;
  width: 1398px;
  height: 40px;
  text-align: center;
}
.maskGroup35 {
  position: absolute;
  height: 100%;
  width: calc(100% - 135px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 135px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.privateHealthcareFundContainer {
  position: absolute;
  bottom: 21px;
  left: 146px;
  line-height: 24px;
}
.backArrowButton {
  position: absolute;
  top: calc(50% + 22px);
  left: 27px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.maskGroup38 {
  position: absolute;
  width: calc(100% - 14px);
  top: calc(50% - 13px);
  right: 7px;
  left: 7px;
  max-width: 100%;
  overflow: hidden;
  height: 27px;
  object-fit: cover;
}
.maskGroup38Wrapper {
  position: absolute;
  bottom: 22px;
  left: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 75px;
  height: 46px;
}
.privateHealthcareFundIiiParent {
  position: absolute;
  height: 100%;
  width: calc(100% - 150px);
  top: 0;
  right: 150px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(10, 26, 39, 0.6),
    #0a1a27
  );
}
.maskGroup35Parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fundDetailPortfolioCompanInner {
  position: absolute;
  top: 0;
  left: 78px;
  width: 1672px;
  height: 162px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.rectangleContainer {
  position: absolute;
  top: 175px;
  left: 142px;
  width: 1398px;
  height: 40px;
  text-align: center;
}
.fundDetailPortfolioCompanChild {
  position: absolute;
  top: 70px;
  left: 80px;
  background-color: var(--color-aliceblue-100);
  width: 1520px;
  height: 178px;
}
.maskGroup351 {
  position: absolute;
  width: calc(100% - 116px);
  right: 0;
  bottom: 0;
  left: 116px;
  max-width: 100%;
  overflow: hidden;
  height: 177px;
  object-fit: cover;
}
.nexusHealthEquity {
  position: absolute;
  top: calc(50% - 33.5px);
  left: 228px;
  line-height: 48px;
}
.backArrowButton1 {
  position: absolute;
  top: calc(50% - 20.5px);
  left: 27px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.maskGroup381 {
  position: absolute;
  width: calc(100% - 26px);
  top: calc(50% - 27px);
  right: 13px;
  left: 13px;
  max-width: 100%;
  overflow: hidden;
  height: 54px;
  object-fit: cover;
}
.maskGroup38Container {
  position: absolute;
  top: calc(50% - 29.5px);
  left: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 149px;
  height: 92px;
}
.nexusHealthEquityFundParent {
  position: absolute;
  height: 100%;
  width: calc(100% - 114px);
  top: 0;
  right: 114px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(10, 26, 39, 0.6),
    #0a1a27
  );
}
.maskGroup35Group {
  position: absolute;
  top: 0;
  left: 78px;
  width: 1636px;
  height: 247px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.navbarbgIcon {
  position: absolute;
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  top: 0;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.userMenuIcon {
  position: absolute;
  top: calc(50% - 17px);
  right: 22px;
  width: 62px;
  height: 36px;
}
.groupIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 109.79px;
}
.t {
  letter-spacing: -0.06px;
}
.v {
  letter-spacing: -0.13px;
}
.alternativeInvestmentPlatforContainer {
  position: absolute;
  top: calc(50% - 11px);
  right: 19px;
  line-height: 12px;
}
.groupParent {
  position: absolute;
  top: calc(50% - 19.7px);
  left: 22px;
  width: 261.22px;
  height: 39.4px;
}
.search {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 64px);
}
.iconactionsearch24px {
  position: absolute;
  top: calc(50% - 12px);
  left: 8px;
  width: 24px;
  height: 24px;
}
.searchParent {
  position: absolute;
  top: calc(50% - 17px);
  right: 102px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 220px;
  height: 36px;
  font-family: var(--font-cresta);
}
.navbarbgParent {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1520px;
  height: 70px;
  font-family: var(--font-cresta-medium);
}
.path428Icon {
  position: absolute;
  height: 100%;
  width: calc(100% - 0.5px);
  top: 0;
  right: 0.5px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.leftNavButtonChild,
.leftNavButtonInner {
  position: absolute;
  height: calc(100% - 12px);
  top: 6px;
  bottom: 6px;
}
.leftNavButtonChild {
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-100);
  width: 48px;
}
.leftNavButtonInner {
  left: 0;
  background-color: var(--color-deepskyblue-200);
  width: 6px;
}
.storefrontFill1Wght400Grad0Icon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 28.83px;
  bottom: 20px;
  max-height: 100%;
  width: 22.33px;
}
.leftNavButton {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 143px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.notificationsFill0Wght400GrIcon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 32px;
  bottom: 20px;
  max-height: 100%;
  width: 16px;
  opacity: 0.5;
}
.ellipseIcon {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 2px);
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.div {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% + 2px);
  letter-spacing: 0.8px;
  font-weight: 500;
}
.leftNavButton1 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 203px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.iconAwesomeTasks {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.7px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton2 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 217px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.manageAccountsFill0Wght400Icon {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.8px;
  height: 20px;
}
.leftNavButton3 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 97px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.homeStorageFill0Wght400GraIcon {
  position: absolute;
  right: 30.16px;
  bottom: 20px;
  width: 19.69px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton4 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 157px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.settingsFill0Wght400Grad0OIcon {
  position: absolute;
  top: calc(50% - 10px);
  right: 30.22px;
  width: 19.56px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton5 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 92px;
  left: 0;
  height: 60px;
}
.logoutFill0Wght400Grad0OpsIcon {
  position: absolute;
  top: 20px;
  right: 30.17px;
  width: 19.67px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton6 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 32px;
  left: 0;
  height: 60px;
}
.homeFill0Wght300Grad0Opsz4Icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 9.05px);
  width: 18.1px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton7 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 83px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.domainFill0Wght400Grad0OpsIcon2 {
  position: absolute;
  width: calc(100% - 57.78px);
  right: 28.76px;
  bottom: 20.19px;
  left: 29.01px;
  max-width: 100%;
  overflow: hidden;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton8 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 443px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.leftNavClosedChild {
  position: absolute;
  top: 798.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 81px;
  height: 2px;
}
.closedMenuIconChild {
  top: 0;
  width: 22px;
}
.closedMenuIconChild,
.closedMenuIconInner,
.closedMenuIconItem {
  position: absolute;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  height: 2.5px;
}
.closedMenuIconItem {
  bottom: 0;
  width: 22px;
}
.closedMenuIconInner {
  top: calc(50% - 1.25px);
  width: 17px;
}
.chevronRightFill0Wght400GrIcon {
  position: absolute;
  height: 73.95%;
  width: 28.07%;
  top: 13.55%;
  right: 0;
  bottom: 12.5%;
  left: 71.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closedMenuIcon {
  position: absolute;
  top: 25px;
  left: 22.29px;
  width: 29.81px;
  height: 20px;
  opacity: 0.5;
}
.navDrawerLeft {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 80.5px;
  height: 960px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-azo-sans);
}
.component2095 {
  position: absolute;
  top: 848px;
  right: 4px;
  width: 74px;
  height: 74px;
}
.fundDetailPortfolioCompan {
  position: relative;
  background-color: var(--color-aliceblue-100);
  width: 100%;
  height: 2144px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-cresta);
}
