.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.seeMore {
  position: absolute;
  top: -2px;
  left: 7px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.iconMaterialArrowForward {
  position: absolute;
  height: calc(100% - 1.69px);
  top: 0.85px;
  right: 0;
  bottom: 0.85px;
  max-height: 100%;
  width: 14.31px;
}
.componeseeMoreButtonnt254 {
  position: absolute;
  right: 18px;
  bottom: 17.63px;
  width: 108.9px;
  height: 16px;
  text-align: right;
  color: var(--color-royalblue);
}
.moreVertFill0Wght400Grad0Icon,
.selectboxbg {
  position: absolute;
  top: 11px;
  right: 18px;
  width: 4.8px;
  height: 32px;
}
.selectboxbg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.div {
  position: absolute;
  top: calc(50% - 9px);
  left: 12px;
  font-weight: 500;
}
.smallDownIcon {
  position: absolute;
  top: calc(50% - 3px);
  right: 12px;
  width: 11px;
  height: 7px;
}
.selectboxfilter {
  position: absolute;
  top: 11px;
  right: 38px;
  width: 110px;
  height: 32px;
  font-size: var(--font-size-smi);
  color: var(--color-silver);
  font-family: var(--font-azo-sans);
}
.groupItem {
  position: absolute;
  height: 0.29%;
  width: 94.91%;
  top: 13.25%;
  right: 2.58%;
  bottom: 86.46%;
  left: 2.51%;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.groupChild1,
.groupChild2,
.groupChild3,
.groupChild4,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9,
.groupInner,
.lineDiv {
  position: absolute;
  height: 0.29%;
  width: 94.91%;
  top: 20.03%;
  right: 2.58%;
  bottom: 79.68%;
  left: 2.51%;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.groupChild1,
.groupChild2,
.groupChild3,
.groupChild4,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9,
.lineDiv {
  top: 27.58%;
  bottom: 72.12%;
}
.groupChild1,
.groupChild2,
.groupChild3,
.groupChild4,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
  top: 34.8%;
  bottom: 64.91%;
}
.groupChild2,
.groupChild3,
.groupChild4,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
  top: 42.01%;
  bottom: 57.69%;
}
.groupChild3,
.groupChild4,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
  top: 49.23%;
  bottom: 50.48%;
}
.groupChild4,
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
  top: 56.44%;
  bottom: 43.26%;
}
.groupChild5,
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
  top: 63.66%;
  bottom: 36.05%;
}
.groupChild6,
.groupChild7,
.groupChild8,
.groupChild9 {
  top: 70.87%;
  bottom: 28.83%;
}
.groupChild7,
.groupChild8,
.groupChild9 {
  top: 78.09%;
  bottom: 21.62%;
}
.groupChild8,
.groupChild9 {
  top: 85.3%;
  bottom: 14.4%;
}
.groupChild9 {
  top: 92.37%;
  bottom: 7.34%;
}
.amlkycDocumentation,
.formPf {
  position: absolute;
  top: 22.4%;
  left: 7.38%;
  line-height: 13px;
}
.amlkycDocumentation {
  top: 30.06%;
}
.aifmdReporting,
.crsReporting,
.fatcaReporting,
.formD {
  position: absolute;
  top: 37.28%;
  left: 7.38%;
  line-height: 13px;
}
.aifmdReporting,
.crsReporting,
.formD {
  top: 44.49%;
}
.aifmdReporting,
.formD {
  top: 51.7%;
}
.formD {
  top: 58.92%;
}
.erisaCompliance,
.esgWorkshop,
.gdprCompliance {
  position: absolute;
  top: 66.13%;
  left: 7.38%;
  line-height: 13px;
}
.esgWorkshop,
.gdprCompliance {
  top: 73.35%;
}
.esgWorkshop {
  top: 80.56%;
}
.completed,
.formAdv,
.nexusHealthEqu,
.tradeComplianceAlert {
  position: absolute;
  top: 87.63%;
  left: 7.38%;
  line-height: 13px;
}
.completed,
.formAdv,
.nexusHealthEqu {
  top: 15.73%;
}
.completed,
.nexusHealthEqu {
  left: 43.75%;
}
.completed {
  left: 67.73%;
}
.completed1,
.crestmontCapital,
.pinecrestFundI {
  position: absolute;
  top: 22.5%;
  left: 43.75%;
  line-height: 13px;
}
.completed1,
.pinecrestFundI {
  left: 67.73%;
}
.pinecrestFundI {
  top: 30.06%;
  left: 43.75%;
}
.cascadeInfrastruct,
.redwoodNatural,
.summitRidgeCredi {
  position: absolute;
  top: 37.28%;
  left: 43.75%;
  line-height: 13px;
}
.redwoodNatural,
.summitRidgeCredi {
  top: 44.49%;
}
.redwoodNatural {
  top: 51.7%;
}
.arrowheadEquity,
.atlasPeakCapital,
.summitRidgeInfr {
  position: absolute;
  top: 58.92%;
  left: 43.75%;
  line-height: 13px;
}
.arrowheadEquity,
.atlasPeakCapital {
  top: 66.13%;
}
.atlasPeakCapital {
  top: 73.35%;
}
.completed2,
.completed3,
.crestmontCapital1,
.pinecrestFundI1 {
  position: absolute;
  top: 80.56%;
  left: 43.75%;
  line-height: 13px;
}
.completed2,
.completed3,
.pinecrestFundI1 {
  top: 87.63%;
}
.completed2,
.completed3 {
  top: 30.06%;
  left: 67.73%;
}
.completed3 {
  top: 37.28%;
}
.completed4,
.inProgress,
.inProgress1,
.resolved,
.resolved1 {
  position: absolute;
  top: 44.49%;
  left: 67.73%;
  line-height: 13px;
}
.completed4,
.inProgress1,
.resolved,
.resolved1 {
  top: 51.7%;
}
.completed4,
.resolved,
.resolved1 {
  top: 58.92%;
}
.resolved,
.resolved1 {
  top: 66.13%;
}
.resolved1 {
  top: 73.35%;
}
.completed5,
.completed6,
.date,
.fund,
.status,
.type {
  position: absolute;
  top: 80.56%;
  left: 67.73%;
  line-height: 13px;
}
.completed6,
.date,
.fund,
.status,
.type {
  top: 87.63%;
}
.date,
.fund,
.status,
.type {
  top: 9.73%;
  left: 90.26%;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
}
.fund,
.status,
.type {
  left: 43.75%;
}
.status,
.type {
  left: 67.73%;
}
.type {
  left: 7.41%;
}
.polygonIcon {
  right: 18px;
}
.groupChild10,
.groupChild11,
.groupChild12,
.polygonIcon {
  position: absolute;
  top: 72px;
  width: 12px;
  height: 7px;
}
.groupChild10 {
  left: 86px;
}
.groupChild11,
.groupChild12 {
  left: calc(50% - 4px);
}
.groupChild12 {
  left: calc(50% + 187px);
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  position: absolute;
  right: 30.4px;
  text-transform: uppercase;
  color: var(--color-gray-200);
}
.div1 {
  top: 100.64px;
}
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  top: calc(50% - 187.13px);
}
.div3,
.div4,
.div5,
.div6,
.div7 {
  top: calc(50% - 134.85px);
}
.div4,
.div5,
.div6,
.div7 {
  top: calc(50% - 85.93px);
}
.div5,
.div6,
.div7 {
  top: calc(50% - 37.02px);
}
.div6,
.div7 {
  top: calc(50% + 11.9px);
}
.div7 {
  top: calc(50% + 60.82px);
}
.div8 {
  top: calc(50% + 109.73px);
}
.div10,
.div11,
.div8,
.div9 {
  position: absolute;
  right: 30.4px;
  text-transform: uppercase;
  color: var(--color-gray-200);
}
.div9 {
  top: calc(50% + 158.65px);
}
.div10,
.div11 {
  bottom: 112.44px;
}
.div11 {
  bottom: 64.54px;
}
.warningFill0Wght400Grad0OpIcon {
  position: absolute;
  top: 107.18px;
  left: 18.25px;
  width: 20px;
  height: 17.44px;
}
.warningFill0Wght400Grad0OpIcon1,
.warningFill0Wght400Grad0OpIcon2 {
  position: absolute;
  top: calc(50% - 190.06px);
  left: 18.25px;
  width: 20px;
  height: 17.44px;
}
.warningFill0Wght400Grad0OpIcon2 {
  top: calc(50% - 138.83px);
}
.warningFill0Wght400Grad0OpIcon3,
.warningFill0Wght400Grad0OpIcon4 {
  position: absolute;
  top: calc(50% - 85.71px);
  left: 18.25px;
  width: 20px;
  height: 17.44px;
}
.warningFill0Wght400Grad0OpIcon4 {
  top: calc(50% - 41px);
}
.warningFill0Wght400Grad0OpIcon5,
.warningFill0Wght400Grad0OpIcon6 {
  position: absolute;
  top: calc(50% + 7.92px);
  left: 18.25px;
  width: 20px;
  height: 17.44px;
}
.warningFill0Wght400Grad0OpIcon6 {
  top: calc(50% + 56.84px);
}
.warningFill0Wght400Grad0OpIcon7,
.warningFill0Wght400Grad0OpIcon8 {
  position: absolute;
  top: calc(50% + 105.75px);
  left: 18.25px;
  width: 20px;
  height: 17.44px;
}
.warningFill0Wght400Grad0OpIcon8 {
  top: calc(50% + 154.67px);
}
.warningFill0Wght400Grad0OpIcon10,
.warningFill0Wght400Grad0OpIcon9 {
  position: absolute;
  bottom: 117.98px;
  left: 18.25px;
  width: 20px;
  height: 17.44px;
}
.warningFill0Wght400Grad0OpIcon10 {
  bottom: 69.06px;
}
.complianceAlerts {
  position: absolute;
  top: 2.21%;
  left: 2.58%;
  font-size: var(--font-size-base);
  letter-spacing: 0.32px;
  line-height: 13px;
  color: var(--color-gray-200);
}
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 385px;
  width: 688px;
  height: 678px;
  color: var(--color-dimgray-200);
}
.rectangleParent {
  left: 142px;
}
.rectangleGroup {
  right: 62px;
}
.compliance {
  position: absolute;
  top: 322px;
  left: 142px;
  font-size: var(--font-size-9xl);
  line-height: 40px;
}
.fundDetailComplianceChild,
.fundDetailComplianceItem {
  position: absolute;
  top: 175px;
  left: 142px;
  border-radius: var(--br-181xl);
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
  width: 1396px;
  height: 40px;
}
.fundDetailComplianceItem {
  mix-blend-mode: multiply;
}
.iconMaterialInfoOutline,
.overview {
  position: absolute;
  top: calc(50% - 10px);
}
.overview {
  left: calc(50% - 24px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.iconMaterialInfoOutline {
  left: calc(50% - 54px);
  width: 20px;
  height: 20px;
}
.tabButton {
  position: absolute;
  top: 175px;
  left: 142px;
  border-radius: var(--br-181xl);
  background-color: var(--color-aliceblue-100);
  width: 338px;
  height: 40px;
  mix-blend-mode: multiply;
  text-align: center;
}
.investorRelations {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 67px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.handshakeFill0Wght400Grad0Icon {
  position: absolute;
  top: calc(50% - 9.08px);
  left: calc(50% - 101px);
  width: 20px;
  height: 18.16px;
}
.tabButton1 {
  position: absolute;
  top: 175px;
  left: 847px;
  border-radius: var(--br-181xl);
  background-color: var(--color-aliceblue-100);
  width: 338px;
  height: 40px;
  mix-blend-mode: multiply;
  cursor: pointer;
  text-align: center;
}
.portfolioCompanies {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 71.48px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.domainFill0Wght400Grad0OpsIcon {
  position: absolute;
  height: calc(100% - 16px);
  top: 8px;
  bottom: 8px;
  left: calc(50% - 112.52px);
  max-height: 100%;
  width: 26.67px;
}
.tabButton2 {
  position: absolute;
  top: 175px;
  left: 495px;
  border-radius: var(--br-181xl);
  background-color: var(--color-aliceblue-100);
  width: 338px;
  height: 40px;
  mix-blend-mode: multiply;
  cursor: pointer;
  text-align: center;
}
.compliance1 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 36px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.factCheckFill1Wght400Grad0Icon {
  position: absolute;
  top: calc(50% - 8.82px);
  left: calc(50% - 65px);
  width: 20px;
  height: 17.65px;
}
.tabButton3 {
  position: absolute;
  top: 175px;
  right: 62px;
  border-radius: var(--br-181xl);
  background-color: var(--color-gainsboro-100);
  width: 338px;
  height: 40px;
  mix-blend-mode: multiply;
  text-align: center;
}
.maskGroup35 {
  position: absolute;
  height: 100%;
  width: calc(100% - 135px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 135px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.privateHealthcare {
  margin: 0;
}
.privateHealthcareFundContainer {
  position: absolute;
  bottom: 21px;
  left: 146px;
  line-height: 24px;
}
.backArrowButton {
  position: absolute;
  top: calc(50% + 22px);
  left: 27px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.maskGroup38 {
  position: absolute;
  width: calc(100% - 14px);
  top: calc(50% - 13px);
  right: 7px;
  left: 7px;
  max-width: 100%;
  overflow: hidden;
  height: 27px;
  object-fit: cover;
}
.maskGroup38Wrapper {
  position: absolute;
  bottom: 22px;
  left: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 75px;
  height: 46px;
}
.privateHealthcareFundIiiParent {
  position: absolute;
  height: 100%;
  width: calc(100% - 150px);
  top: 0;
  right: 150px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(10, 26, 39, 0.6),
    #0a1a27
  );
}
.maskGroup35Parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fundDetailComplianceInner {
  position: absolute;
  top: 0;
  left: 78px;
  width: 1672px;
  height: 162px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.fundDetailComplianceChild1 {
  position: absolute;
  top: 70px;
  left: 80px;
  background-color: var(--color-aliceblue-100);
  width: 1520px;
  height: 178px;
}
.maskGroup351 {
  position: absolute;
  width: calc(100% - 116px);
  right: 0;
  bottom: 0;
  left: 116px;
  max-width: 100%;
  overflow: hidden;
  height: 177px;
  object-fit: cover;
}
.nexusHealthEquity {
  position: absolute;
  top: calc(50% - 33.5px);
  left: 228px;
  line-height: 48px;
}
.backArrowButton1 {
  position: absolute;
  top: calc(50% - 20.5px);
  left: 27px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.maskGroup381 {
  position: absolute;
  width: calc(100% - 26px);
  top: calc(50% - 27px);
  right: 13px;
  left: 13px;
  max-width: 100%;
  overflow: hidden;
  height: 54px;
  object-fit: cover;
}
.maskGroup38Container {
  position: absolute;
  top: calc(50% - 29.5px);
  left: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 149px;
  height: 92px;
}
.nexusHealthEquityFundParent {
  position: absolute;
  height: 100%;
  width: calc(100% - 114px);
  top: 0;
  right: 114px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(10, 26, 39, 0.6),
    #0a1a27
  );
}
.maskGroup35Group {
  position: absolute;
  top: 0;
  left: 78px;
  width: 1636px;
  height: 247px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.editSaveButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.edit {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 39.5px);
  letter-spacing: 1.4px;
  font-weight: 500;
}
.editFill0Wght400Grad0Opsz4Icon {
  position: absolute;
  height: calc(100% - 16px);
  top: 8px;
  bottom: 8px;
  left: calc(50% + 18.5px);
  max-height: 100%;
  width: 20px;
}
.component2097,
.editSaveButton {
  position: absolute;
  top: 87px;
  right: 62px;
  width: 115px;
  height: 36px;
}
.component2097 {
  top: 848px;
  right: 4px;
  width: 74px;
  height: 74px;
}
.navbarbgIcon {
  position: absolute;
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  top: 0;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.userMenuIcon {
  position: absolute;
  top: calc(50% - 17px);
  right: 22px;
  width: 62px;
  height: 36px;
}
.groupIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 109.79px;
}
.t {
  letter-spacing: -0.06px;
}
.v {
  letter-spacing: -0.13px;
}
.alternativeInvestmentPlatforContainer {
  position: absolute;
  top: calc(50% - 11px);
  right: 19px;
  line-height: 12px;
}
.groupParent {
  position: absolute;
  top: calc(50% - 19.7px);
  left: 22px;
  width: 261.22px;
  height: 39.4px;
}
.search {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 64px);
}
.iconactionsearch24px {
  position: absolute;
  top: calc(50% - 12px);
  left: 8px;
  width: 24px;
  height: 24px;
}
.searchParent {
  position: absolute;
  top: calc(50% - 17px);
  right: 102px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 220px;
  height: 36px;
  font-family: var(--font-cresta);
}
.navbarbgParent {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1520px;
  height: 70px;
  font-family: var(--font-cresta-medium);
}
.path428Icon {
  position: absolute;
  height: 100%;
  width: calc(100% - 0.5px);
  top: 0;
  right: 0.5px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.leftNavButtonChild,
.leftNavButtonInner {
  position: absolute;
  height: calc(100% - 12px);
  top: 6px;
  bottom: 6px;
}
.leftNavButtonChild {
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-100);
  width: 48px;
}
.leftNavButtonInner {
  left: 0;
  background-color: var(--color-deepskyblue-200);
  width: 6px;
}
.storefrontFill1Wght400Grad0Icon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 28.83px;
  bottom: 20px;
  max-height: 100%;
  width: 22.33px;
}
.leftNavButton {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 143px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.notificationsFill0Wght400GrIcon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 32px;
  bottom: 20px;
  max-height: 100%;
  width: 16px;
  opacity: 0.5;
}
.ellipseIcon {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 2px);
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.div24 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% + 2px);
  letter-spacing: 0.8px;
  font-weight: 500;
}
.leftNavButton1 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 203px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.iconAwesomeTasks {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.7px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton2 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 217px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.manageAccountsFill0Wght400Icon {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.8px;
  height: 20px;
}
.leftNavButton3 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 97px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.homeStorageFill0Wght400GraIcon {
  position: absolute;
  right: 30.16px;
  bottom: 20px;
  width: 19.69px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton4 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 157px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.settingsFill0Wght400Grad0OIcon {
  position: absolute;
  top: calc(50% - 10px);
  right: 30.22px;
  width: 19.56px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton5 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 92px;
  left: 0;
  height: 60px;
}
.logoutFill0Wght400Grad0OpsIcon {
  position: absolute;
  top: 20px;
  right: 30.17px;
  width: 19.67px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton6 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 32px;
  left: 0;
  height: 60px;
}
.homeFill0Wght300Grad0Opsz4Icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 9.05px);
  width: 18.1px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton7 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 83px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.domainFill0Wght400Grad0OpsIcon1 {
  position: absolute;
  width: calc(100% - 57.78px);
  right: 28.76px;
  bottom: 20.19px;
  left: 29.01px;
  max-width: 100%;
  overflow: hidden;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton8 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 443px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.leftNavClosedChild {
  position: absolute;
  top: 798.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 81px;
  height: 2px;
}
.closedMenuIconChild {
  top: 0;
  width: 22px;
}
.closedMenuIconChild,
.closedMenuIconInner,
.closedMenuIconItem {
  position: absolute;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  height: 2.5px;
}
.closedMenuIconItem {
  bottom: 0;
  width: 22px;
}
.closedMenuIconInner {
  top: calc(50% - 1.25px);
  width: 17px;
}
.chevronRightFill0Wght400GrIcon {
  position: absolute;
  height: 73.95%;
  width: 28.07%;
  top: 13.55%;
  right: 0;
  bottom: 12.5%;
  left: 71.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closedMenuIcon {
  position: absolute;
  top: 25px;
  left: 22.29px;
  width: 29.81px;
  height: 20px;
  opacity: 0.5;
}
.navDrawerLeft {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 80.5px;
  height: 960px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-azo-sans);
}
.groupChild29,
.groupChild30,
.tabNavButtonChild {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-181xl);
}
.groupChild29 {
  width: calc(100% - 2px);
  right: 2px;
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
}
.groupChild30,
.tabNavButtonChild {
  mix-blend-mode: multiply;
}
.groupChild30 {
  width: calc(100% - 2px);
  right: 2px;
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset;
}
.tabNavButtonChild {
  width: 100%;
  right: 0;
  background-color: var(--color-lightsteelblue);
  opacity: 0;
}
.overview1 {
  position: absolute;
  top: 25%;
  left: 40.34%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.iconMaterialInfoOutline1 {
  position: absolute;
  height: 50%;
  width: 8.58%;
  top: 25%;
  right: 65.24%;
  bottom: 25%;
  left: 26.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild31,
.tabNavButton {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 233px;
}
.groupChild31 {
  width: 100%;
  right: 0;
  border-radius: var(--br-181xl);
  background-color: var(--color-lightgray-200);
  opacity: 0;
  mix-blend-mode: multiply;
}
.perfromance {
  position: absolute;
  top: 25%;
  left: 32.68%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.monitoringFill0Wght400Grad0Icon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 70.67px);
  width: 20px;
  height: 20px;
}
.rectangleParent1,
.tabNavButton1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangleParent1 {
  width: calc(100% - 2px);
  right: 1px;
  left: 1px;
}
.tabNavButton1 {
  left: calc(50% - 466px);
  width: 233px;
}
.portfolio {
  position: absolute;
  top: 25%;
  left: 37.91%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.domainFill0Wght400Grad0OpsIcon2 {
  position: absolute;
  height: 45%;
  width: 8.58%;
  top: 27.5%;
  right: 66.67%;
  bottom: 27.5%;
  left: 24.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 233px);
  width: 233px;
}
.investors {
  position: absolute;
  top: 25%;
  left: 38.2%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.handshakeFill0Wght400Grad0Icon1 {
  position: absolute;
  height: 45.4%;
  width: 8.58%;
  top: 27.3%;
  right: 66.09%;
  bottom: 27.3%;
  left: 25.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 0px);
  width: 233px;
}
.servicing {
  position: absolute;
  top: 25%;
  left: 38.16%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.designServicesFill0Wght400Icon {
  position: absolute;
  top: 11.18px;
  left: calc(50% - 54.42px);
  width: 17.83px;
  height: 17.81px;
}
.tabNavButton4,
.tabNavButtonChild3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.tabNavButton4 {
  left: calc(50% + 233px);
  width: 233px;
}
.tabNavButtonChild3 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-181xl);
  background-color: var(--color-lightsteelblue);
  mix-blend-mode: multiply;
}
.compliance2 {
  position: absolute;
  top: 25%;
  left: 35.52%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.factCheckFill0Wght400Grad0Icon {
  position: absolute;
  height: 44.12%;
  width: 8.58%;
  top: 27.94%;
  right: 69.85%;
  bottom: 27.94%;
  left: 21.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabNavButton5 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 233px;
}
.rectangleContainer {
  position: absolute;
  top: 259px;
  left: 142px;
  width: 1398px;
  height: 40px;
  text-align: center;
}
.fundDetailCompliance {
  position: relative;
  background-color: var(--color-aliceblue-100);
  width: 100%;
  height: 2411px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-cresta);
}
