.groupChild,
.path455Icon {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.groupChild {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.path455Icon {
  top: 44px;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.reneeWilliams {
  position: absolute;
  top: calc(50% - 93.9px);
  left: 17.39px;
}
.div {
  position: absolute;
  top: calc(50% - 92.53px);
  right: 116.11px;
}
.path455Icon1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -22px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.reneeWilliams1 {
  position: absolute;
  bottom: -11.6px;
  left: 17.39px;
}
.div1 {
  position: absolute;
  right: 116.11px;
  bottom: -12.97px;
}
.path455Icon2 {
  position: absolute;
  width: 100%;
  top: calc(50% - 25.5px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.steeleAndersen {
  position: absolute;
  top: calc(50% - 15.9px);
  left: 17.39px;
}
.div2 {
  position: absolute;
  top: calc(50% - 14.53px);
  right: 74.11px;
}
.path455Icon3 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -100px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.steeleAndersen1 {
  position: absolute;
  bottom: -89.6px;
  left: 17.39px;
}
.div3 {
  position: absolute;
  right: 74.11px;
  bottom: -90.97px;
}
.path455Icon4 {
  position: absolute;
  width: 100%;
  top: calc(50% + 52.5px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.reneeWilliams2 {
  position: absolute;
  top: calc(50% + 62.1px);
  left: 17.39px;
}
.div4 {
  position: absolute;
  top: calc(50% + 63.47px);
  right: 74.11px;
}
.path455Icon5 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -178px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.reneeWilliams3 {
  position: absolute;
  bottom: -167.6px;
  left: 17.39px;
}
.div5 {
  position: absolute;
  right: 74.11px;
  bottom: -168.97px;
}
.path455Icon6 {
  position: absolute;
  width: 100%;
  top: 5px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.thomasSmith {
  position: absolute;
  top: 14.6px;
  left: 16.04px;
  cursor: pointer;
}
.div6 {
  position: absolute;
  top: 15.97px;
  right: 115.59px;
}
.path455Icon7 {
  position: absolute;
  width: 100%;
  top: calc(50% - 64.5px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.hecklerLlp {
  position: absolute;
  top: calc(50% - 54.9px);
  left: 17.39px;
}
.div7 {
  position: absolute;
  top: calc(50% - 53.53px);
  right: 56.11px;
}
.path455Icon8 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -61px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.hecklerLlp1 {
  position: absolute;
  bottom: -50.6px;
  left: 17.39px;
}
.div8 {
  position: absolute;
  right: 56.11px;
  bottom: -51.97px;
}
.path455Icon9 {
  position: absolute;
  width: 100%;
  top: calc(50% + 13.5px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.alfredTigTrust {
  position: absolute;
  top: calc(50% + 23.1px);
  left: 17.39px;
}
.div9 {
  position: absolute;
  top: calc(50% + 24.47px);
  right: 56.11px;
}
.path455Icon10 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -139px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.alfredTigTrust1 {
  position: absolute;
  bottom: -128.6px;
  left: 17.39px;
}
.div10,
.path455Icon11 {
  position: absolute;
  right: 56.11px;
  bottom: -129.97px;
}
.path455Icon11 {
  width: 100%;
  right: 0;
  bottom: 17px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.montgomeryWill {
  position: absolute;
  bottom: 27.4px;
  left: 17.39px;
}
.div11,
.path455Icon12 {
  position: absolute;
  right: 74.11px;
  bottom: 26.03px;
}
.path455Icon12 {
  width: 100%;
  right: 0;
  bottom: -217px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 39px;
}
.redwoodNaturalResource {
  position: absolute;
  top: 39px;
  left: 0;
}
.nexusHealthEquity,
.redwoodNaturalResource1 {
  position: absolute;
  top: calc(50% + 29.5px);
  left: 0;
}
.nexusHealthEquity {
  top: calc(50% - 126.5px);
}
.nexusHealthEquity1,
.summitRidgeCredit {
  position: absolute;
  top: calc(50% + 107.5px);
  left: 0;
}
.summitRidgeCredit {
  top: calc(50% - 48.5px);
}
.summitRidgeCredit1 {
  position: absolute;
  bottom: 39px;
  left: 0;
}
.nexusHealthEquity2 {
  position: absolute;
  top: 0;
  left: 0;
}
.nexusHealthEquity4 {
  position: absolute;
  top: calc(50% + 68.5px);
  left: 0;
}
.summitRidgeCredit3 {
  position: absolute;
  bottom: 78px;
  left: 0;
}
.arrowheadEquity {
  position: absolute;
  top: calc(50% - 9.5px);
  left: 0;
}
.arrowheadEquity1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.redwoodNaturalResourceParent {
  position: absolute;
  height: calc(100% + 192px);
  top: 14.6px;
  bottom: -206.6px;
  left: calc(50% - 253.88px);
  width: 178px;
}
.montgomeryWill1 {
  position: absolute;
  bottom: -206.6px;
  left: 17.39px;
}
.div12 {
  position: absolute;
  right: 74.11px;
  bottom: -207.97px;
}
.individual,
.individual3 {
  position: absolute;
  left: 1px;
}
.individual {
  top: 40px;
}
.individual3 {
  top: calc(50% + 108.5px);
}
.individual5 {
  position: absolute;
  bottom: 38px;
  left: 1px;
}
.individual6 {
  position: absolute;
  top: 0;
  left: 0.06px;
}
.pensionFund,
.trust {
  position: absolute;
  left: 0;
}
.pensionFund {
  top: 78px;
}
.trust {
  top: calc(50% - 87.5px);
}
.individualParent {
  position: absolute;
  height: calc(100% + 192px);
  top: 14.6px;
  bottom: -206.6px;
  left: calc(50% - 1.63px);
  width: 83px;
}
.complete,
.legalReview,
.profileProcess {
  position: absolute;
  top: calc(50% + 30.5px);
  left: 1px;
}
.complete,
.legalReview {
  top: calc(50% - 125.5px);
}
.complete {
  top: calc(50% - 47.5px);
}
.waitingOnFundsParent {
  position: absolute;
  height: calc(100% + 192px);
  top: 14.6px;
  bottom: -206.6px;
  left: calc(50% + 156.63px);
  width: 110px;
}
.scrollGroup13Child,
.scrollGroup13Inner,
.scrollGroup13Item {
  position: absolute;
  top: calc(50% - 86.46px);
  left: calc(50% + 142.37px);
  border-radius: 50%;
  width: 9px;
  height: 9px;
}
.scrollGroup13Inner,
.scrollGroup13Item {
  top: calc(50% - 49.5px);
}
.scrollGroup13Inner {
  top: calc(50% + 29.97px);
}
.ellipseIcon {
  bottom: -47.47px;
}
.ellipseIcon,
.scrollGroup13Child1,
.scrollGroup13Child2 {
  position: absolute;
  left: calc(50% + 142.37px);
  border-radius: 50%;
  width: 9px;
  height: 9px;
}
.scrollGroup13Child1 {
  top: calc(50% + 68.97px);
}
.scrollGroup13Child2 {
  bottom: 31.9px;
}
.scrollGroup13Child3 {
  top: 20.04px;
}
.scrollGroup13Child3,
.scrollGroup13Child4,
.scrollGroup13Child5 {
  position: absolute;
  left: calc(50% + 142.37px);
  border-radius: 50%;
  width: 9px;
  height: 9px;
}
.scrollGroup13Child4 {
  top: calc(50% - 9.03px);
}
.scrollGroup13Child5 {
  bottom: -8.47px;
}
.newSubscribers,
.scrollGroup13 {
  position: absolute;
  color: var(--color-gray-200);
}
.scrollGroup13 {
  bottom: 26.04px;
  left: calc(50% - 442.62px);
  width: 882.54px;
  height: 295px;
  overflow-y: auto;
  mix-blend-mode: normal;
  font-size: var(--font-size-sm);
}
.newSubscribers {
  top: 5.96%;
  left: 1.6%;
  font-size: var(--font-size-base);
  letter-spacing: 0.32px;
  line-height: 13px;
}
.groupItem {
  position: absolute;
  height: 0.47%;
  width: 95.92%;
  top: 24.76%;
  right: 2.48%;
  bottom: 74.78%;
  left: 1.61%;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.moreVertFill0Wght400Grad0Icon {
  position: absolute;
  top: 21px;
  right: 16.67px;
  width: 4.8px;
  height: 32px;
}
.status {
  position: absolute;
  top: -6.67%;
  left: 0;
  line-height: 13px;
  text-transform: uppercase;
}
.filterButtonChild {
  position: absolute;
  top: calc(50% - 3.5px);
  right: 0;
  width: 12px;
  height: 7px;
}
.filterButton,
.filterButton1 {
  position: absolute;
  top: calc(50% - 136.54px);
  height: 15px;
}
.filterButton {
  left: calc(50% + 135.63px);
  width: 71px;
}
.filterButton1 {
  right: 22.82px;
  width: 130px;
}
.filterButton2 {
  left: calc(50% - 258.16px);
  width: 88px;
}
.filterButton2,
.filterButton3,
.filterButton4 {
  position: absolute;
  top: calc(50% - 136.54px);
  height: 15px;
}
.filterButton3 {
  left: 34.88px;
  width: 53px;
}
.filterButton4 {
  left: calc(50% - 3.51px);
  width: 47px;
}
.path463Icon {
  position: absolute;
  height: 0.23%;
  width: 95.81%;
  top: 93.81%;
  right: 2.31%;
  bottom: 5.96%;
  left: 1.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: absolute;
  top: 592px;
  left: 142px;
  width: 921px;
  height: 428px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.path459Icon {
  position: absolute;
  height: 104.21%;
  width: 103.96%;
  top: 0;
  right: -3.96%;
  bottom: -4.21%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.investorsInVc {
  margin: 0;
}
.meetThe10Container {
  position: absolute;
  top: calc(50% - 36px);
  right: -1px;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.groupInner {
  position: absolute;
  height: calc(100% - 11.08px);
  top: 3.04px;
  bottom: 8.04px;
  left: 0;
  border-radius: var(--br-5xs);
  max-height: 100%;
  width: 104px;
  object-fit: cover;
}
.gaming {
  position: absolute;
  top: 0;
  left: calc(50% - 59.25px);
}
.byJacobRobbins,
.may52023 {
  position: absolute;
  bottom: 0;
  color: var(--color-gray-100);
}
.byJacobRobbins {
  left: calc(50% - 59.25px);
}
.may52023 {
  right: 32.5px;
}
.meetThe10MostActiveInvesParent {
  position: absolute;
  width: calc(100% - 9px);
  top: calc(50% - 18.83px);
  right: 9px;
  left: 0;
  height: 115.08px;
}
.ecommerce {
  position: absolute;
  top: 0;
  left: calc(50% - 52.75px);
}
.byJordanRubio,
.may32023 {
  position: absolute;
  bottom: 0;
  color: var(--color-gray-100);
}
.byJordanRubio {
  left: calc(50% - 52.75px);
}
.may32023 {
  right: 19.5px;
}
.marketMapEcommerceInvestoParent {
  position: absolute;
  width: calc(100% - 22px);
  right: 22px;
  bottom: -206px;
  left: 0;
  height: 115.08px;
}
.groupChild1 {
  position: absolute;
  height: calc(100% - 3.04px);
  top: 3.04px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  max-height: 100%;
  width: 104px;
  object-fit: cover;
}
.vcValuations {
  position: absolute;
  top: 0;
  left: calc(50% - 62.25px);
}
.byLeahHodgson,
.may102023 {
  position: absolute;
  bottom: 15.96px;
  color: var(--color-gray-100);
}
.byLeahHodgson {
  left: calc(50% - 62.25px);
}
.may102023 {
  right: 31.5px;
}
.troubleAheadForContainer {
  position: absolute;
  top: calc(50% - 31.98px);
  right: -1px;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.rectangleGroup {
  position: absolute;
  width: calc(100% - 3px);
  top: 11px;
  right: 3px;
  left: 0;
  height: 107.04px;
}
.regulation {
  position: absolute;
  top: 0;
  left: calc(50% - 63.75px);
}
.byMarinaTemkin,
.may42023 {
  position: absolute;
  bottom: 15.96px;
  color: var(--color-gray-100);
}
.byMarinaTemkin {
  left: calc(50% - 63.75px);
}
.may42023 {
  right: 41.5px;
}
.rectangleContainer {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -65.42px;
  left: 0;
  height: 107.04px;
}
.scrollGroup14 {
  position: absolute;
  height: calc(100% - 0.96px);
  top: 0.96px;
  bottom: 0;
  left: calc(50% - 208px);
  width: 358.5px;
  overflow-y: auto;
  mix-blend-mode: normal;
}
.path460Icon,
.path461Icon {
  position: absolute;
  height: 0.31%;
  width: 100%;
  top: 99.64%;
  right: 0.12%;
  bottom: 0.06%;
  left: -0.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path461Icon {
  top: -0.15%;
  bottom: 99.85%;
}
.scrollGroup14Parent {
  position: absolute;
  width: calc(100% - 39px);
  right: 16px;
  bottom: 25.31px;
  left: 23px;
  height: 325.69px;
}
.selectboxbg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.allFunds {
  position: absolute;
  top: calc(50% - 9px);
  left: 12px;
  font-weight: 500;
}
.smallDownIcon {
  position: absolute;
  top: calc(50% - 3px);
  right: 12px;
  width: 11px;
  height: 7px;
}
.selectboxfilter {
  position: absolute;
  top: 21px;
  right: 39px;
  width: 180px;
  height: 32px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.fundNews {
  position: absolute;
  top: 5.96%;
  left: 5%;
  font-size: var(--font-size-base);
  letter-spacing: 0.32px;
  line-height: 13px;
}
.path459Parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.moreVertFill0Wght400Grad0Icon1 {
  position: absolute;
  top: 21px;
  right: 19px;
  width: 4.8px;
  height: 32px;
}
.groupParent,
.lineDiv {
  position: absolute;
  top: 592px;
  right: 62px;
  width: 455px;
  height: 428px;
}
.lineDiv {
  height: 0.8%;
  width: 100.03%;
  top: -0.4%;
  right: 0.05%;
  bottom: 99.6%;
  left: -0.07%;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.path454Icon {
  position: absolute;
  height: 0.4%;
  width: 99.95%;
  top: 99.8%;
  right: 0.08%;
  bottom: -0.2%;
  left: -0.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild3 {
  position: absolute;
  top: calc(50% - 106.34px);
  border-radius: var(--br-9xs);
  background-color: var(--color-aliceblue-300);
  height: 39px;
}
.groupChild3,
.groupChild4,
.groupChild5 {
  width: calc(100% - 0.52px);
  right: 0.44px;
  left: 0.08px;
}
.groupChild4 {
  position: absolute;
  top: calc(50% - 32.34px);
  border-radius: var(--br-9xs);
  background-color: var(--color-aliceblue-300);
  height: 39px;
}
.groupChild5 {
  top: calc(50% + 41.66px);
}
.groupChild5,
.groupChild6,
.groupChild7 {
  position: absolute;
  border-radius: var(--br-9xs);
  background-color: var(--color-aliceblue-300);
  height: 39px;
}
.groupChild6 {
  width: 100%;
  right: 0;
  bottom: 26.09px;
  left: 0;
}
.groupChild7 {
  width: calc(100% - 0.52px);
  top: 0;
  right: 0.44px;
  left: 0.08px;
}
.nexusHealthEquity5 {
  position: absolute;
  top: 9.6px;
  left: 30.52px;
  cursor: pointer;
}
.div17,
.div18,
.open {
  position: absolute;
  top: 9.6px;
  left: calc(50% - 291.28px);
}
.div17,
.div18 {
  left: calc(50% - 146.12px);
}
.div18 {
  left: calc(50% + 70.82px);
}
.div19,
.div20,
.div21 {
  position: absolute;
  top: 8px;
}
.div19 {
  left: calc(50% + 232.72px);
}
.div20,
.div21 {
  right: 249.24px;
}
.div21 {
  top: 10.97px;
  right: 100.59px;
  text-transform: uppercase;
}
.div22,
.div23,
.open1 {
  position: absolute;
  top: 46.5px;
  left: calc(50% - 291.28px);
}
.div22,
.div23 {
  left: calc(50% - 146.12px);
}
.div23 {
  left: calc(50% + 70.82px);
}
.div24,
.div25,
.div26 {
  position: absolute;
  top: 44.9px;
}
.div24 {
  left: calc(50% + 232.72px);
}
.div25,
.div26 {
  right: 249.24px;
}
.div26 {
  top: 47.86px;
  right: 107.59px;
  text-transform: uppercase;
}
.div27,
.div28,
.open2 {
  position: absolute;
  top: calc(50% - 96.94px);
  left: calc(50% - 291.28px);
}
.div27,
.div28 {
  left: calc(50% - 146.12px);
}
.div28 {
  left: calc(50% + 70.82px);
}
.div29,
.div30,
.div31 {
  position: absolute;
  top: calc(50% - 98.54px);
}
.div29 {
  left: calc(50% + 232.72px);
}
.div30,
.div31 {
  right: 249.24px;
}
.div31 {
  top: calc(50% - 97.18px);
  right: 100.1px;
  text-transform: uppercase;
}
.div32,
.div33,
.open3 {
  position: absolute;
  top: calc(50% - 60.04px);
  left: calc(50% - 291.28px);
}
.div32,
.div33 {
  left: calc(50% - 146.12px);
}
.div33 {
  left: calc(50% + 70.82px);
}
.div34,
.div35,
.div36 {
  position: absolute;
  top: calc(50% - 61.65px);
}
.div34 {
  left: calc(50% + 232.72px);
}
.div35,
.div36 {
  right: 249.24px;
}
.div36 {
  top: calc(50% - 60.28px);
  right: 107.1px;
  text-transform: uppercase;
}
.closed,
.div37,
.div38 {
  position: absolute;
  top: calc(50% - 23.15px);
  left: calc(50% - 291.28px);
}
.div37,
.div38 {
  left: calc(50% - 146.12px);
}
.div38 {
  left: calc(50% + 70.82px);
}
.div39,
.div40,
.div41 {
  position: absolute;
  top: calc(50% - 24.75px);
}
.div39 {
  left: calc(50% + 232.72px);
}
.div40,
.div41 {
  right: 249.24px;
}
.div41 {
  top: calc(50% - 23.39px);
  right: 107.1px;
  text-transform: uppercase;
}
.closed1,
.div42,
.div43 {
  position: absolute;
  top: calc(50% + 13.75px);
  left: calc(50% - 291.28px);
}
.div42,
.div43 {
  left: calc(50% - 146.12px);
}
.div43 {
  left: calc(50% + 70.82px);
}
.div44,
.div45,
.div46 {
  position: absolute;
  top: calc(50% + 12.15px);
}
.div44 {
  left: calc(50% + 232.72px);
}
.div45,
.div46 {
  right: 249.24px;
}
.div46 {
  top: calc(50% + 13.51px);
  right: 107.1px;
  text-transform: uppercase;
}
.closed2,
.div47,
.div48 {
  position: absolute;
  top: calc(50% + 50.65px);
  left: calc(50% - 291.28px);
}
.div47,
.div48 {
  left: calc(50% - 146.12px);
}
.div48 {
  left: calc(50% + 70.82px);
}
.div49,
.div50,
.div51 {
  position: absolute;
  top: calc(50% + 49.04px);
}
.div49 {
  left: calc(50% + 232.72px);
}
.div50,
.div51 {
  right: 249.24px;
}
.div51 {
  top: calc(50% + 50.41px);
  right: 107.1px;
  text-transform: uppercase;
}
.cosed,
.div52,
.div53 {
  position: absolute;
  top: calc(50% + 87.54px);
  left: calc(50% - 291.28px);
}
.div52,
.div53 {
  left: calc(50% - 146.12px);
}
.div53 {
  left: calc(50% + 70.82px);
}
.div54,
.div55,
.div56 {
  position: absolute;
  top: calc(50% + 85.94px);
}
.div54 {
  left: calc(50% + 232.72px);
}
.div55,
.div56 {
  right: 249.24px;
}
.div56 {
  top: calc(50% + 87.3px);
  right: 107.1px;
  text-transform: uppercase;
}
.closed3,
.div57,
.div58 {
  position: absolute;
  bottom: 36.9px;
  left: calc(50% - 291.28px);
}
.div57,
.div58 {
  left: calc(50% - 146.12px);
}
.div58 {
  left: calc(50% + 70.82px);
}
.div59,
.div60,
.div61 {
  position: absolute;
  bottom: 38.5px;
}
.div59 {
  left: calc(50% + 232.72px);
}
.div60,
.div61 {
  right: 249.24px;
}
.div61 {
  right: 107.1px;
  bottom: 37.14px;
  text-transform: uppercase;
}
.closed4,
.div62,
.div63 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 291.28px);
}
.div62,
.div63 {
  left: calc(50% - 146.12px);
}
.div63 {
  left: calc(50% + 70.82px);
}
.div64,
.div65,
.div66 {
  position: absolute;
  bottom: 1.6px;
}
.div64 {
  left: calc(50% + 232.72px);
}
.div65,
.div66 {
  right: 249.24px;
}
.div66 {
  right: 107.1px;
  bottom: 0.24px;
  text-transform: uppercase;
}
.crestmontCapitalFund {
  position: absolute;
  top: 46.5px;
  left: 30.52px;
}
.cascadeInfrastructureFund,
.pinecrestFundI {
  position: absolute;
  top: calc(50% - 96.94px);
  left: 30.52px;
}
.pinecrestFundI {
  top: calc(50% - 60.04px);
}
.redwoodNaturalResource2,
.summitRidgeCredit4 {
  position: absolute;
  top: calc(50% - 23.15px);
  left: 30.52px;
}
.summitRidgeCredit4 {
  top: calc(50% + 13.75px);
}
.arrowheadEquity2,
.atlasPeakCapital {
  position: absolute;
  top: calc(50% + 50.65px);
  left: 30.52px;
}
.atlasPeakCapital {
  top: calc(50% + 87.54px);
}
.havencrestRealEstate,
.summitRidgeInfrastructure {
  position: absolute;
  bottom: 0;
  left: 30.52px;
}
.havencrestRealEstate {
  bottom: 36.9px;
}
.groupChild8 {
  top: 15px;
}
.groupChild10,
.groupChild8,
.groupChild9 {
  position: absolute;
  right: 261.24px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
}
.groupChild9 {
  top: 52px;
}
.groupChild10 {
  top: calc(50% - 93.34px);
}
.groupChild11 {
  top: 15px;
}
.groupChild11,
.groupChild12,
.groupChild13 {
  position: absolute;
  right: 119.11px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
}
.groupChild12 {
  top: 52px;
}
.groupChild13 {
  top: calc(50% - 93.34px);
}
.rectangleParent1 {
  position: absolute;
  height: calc(100% + 111.64px);
  width: 100%;
  top: 7px;
  right: 0;
  bottom: -118.64px;
  left: 0;
}
.scrollGroup11 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 679.96px);
  width: 1359.92px;
  overflow-y: auto;
  mix-blend-mode: normal;
}
.lineParent {
  position: absolute;
  width: calc(100% - 1.57px);
  right: 0;
  bottom: 0;
  left: 1.57px;
  height: 249.03px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.moreVertFill0Wght400Grad0Icon2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.8px;
  height: 32px;
}
.myFunds {
  position: absolute;
  top: 1.34%;
  left: 0;
  font-size: var(--font-size-base);
  letter-spacing: 0.32px;
  line-height: 13px;
  color: var(--color-gray-200);
}
.filterButton5 {
  right: 24.52px;
  width: 108px;
}
.filterButton5,
.filterButton6,
.filterButton7 {
  position: absolute;
  top: calc(50% - 111.05px);
  height: 15px;
}
.filterButton6 {
  left: 0;
  width: 88px;
}
.filterButton7 {
  right: 208.18px;
  width: 62px;
}
.filterButton10,
.filterButton11,
.filterButton8,
.filterButton9 {
  position: absolute;
  top: calc(50% - 111.05px);
  left: calc(50% + 229.56px);
  width: 115px;
  height: 15px;
}
.filterButton10,
.filterButton11,
.filterButton9 {
  left: calc(50% + 71.79px);
  width: 44px;
}
.filterButton10,
.filterButton11 {
  left: calc(50% - 292.08px);
  width: 61px;
}
.filterButton11 {
  left: calc(50% - 146.08px);
  width: 140px;
}
.groupContainer {
  position: absolute;
  height: calc(100% - 47.97px);
  width: calc(100% - 34.51px);
  top: 21px;
  right: 18.76px;
  bottom: 26.97px;
  left: 15.75px;
}
.groupDiv {
  position: absolute;
  top: 189px;
  left: 142px;
  width: 1396px;
  height: 383px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.fundManagerDashboard1 {
  position: absolute;
  top: 113px;
  left: 142px;
  font-size: var(--font-size-17xl);
  line-height: 48px;
}
.welcomeBackJonathan {
  position: absolute;
  top: 96px;
  left: 142px;
  font-size: var(--font-size-base);
  color: var(--color-royalblue);
}
.path457Icon {
  position: absolute;
  height: 101.78%;
  width: 101.29%;
  top: 0;
  right: -1.29%;
  bottom: -1.78%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.keyPerformanceMetrics {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: var(--font-size-base);
  letter-spacing: 0.32px;
  line-height: 13px;
}
.grossIrr,
.numberOfFunds {
  position: absolute;
  left: 7.5px;
}
.numberOfFunds {
  bottom: 12.32px;
}
.grossIrr {
  top: 12.32px;
}
.b,
.b1 {
  position: absolute;
  right: 9.35px;
  font-size: var(--font-size-5xl);
  line-height: 20px;
  font-family: var(--font-azo-sans);
  text-align: right;
}
.b {
  top: 1.32px;
}
.b1 {
  bottom: 10.5px;
}
.groupChild14 {
  top: -1px;
}
.groupChild14,
.groupChild15,
.groupChild16 {
  position: absolute;
  width: calc(100% + 1px);
  right: 0;
  left: -1px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 2px;
}
.groupChild15 {
  top: calc(50% - 1.09px);
}
.groupChild16 {
  bottom: -1px;
}
.numberOfFundsParent {
  position: absolute;
  top: calc(50% + 39.39px);
  left: 0;
  width: 649px;
  height: 87.47px;
}
.privateEquity {
  top: 1px;
  left: 24px;
  font-family: var(--font-cresta);
  text-align: left;
}
.b3,
.hedgeFunds,
.privateEquity {
  position: absolute;
}
.b3 {
  top: calc(50% - 83px);
  right: -1px;
  line-height: 20px;
}
.hedgeFunds {
  top: calc(50% - 82px);
  left: 24px;
  font-family: var(--font-cresta);
  text-align: left;
}
.b4 {
  top: calc(50% - 41px);
  right: -1px;
  line-height: 20px;
}
.b4,
.b5,
.realEstate {
  position: absolute;
}
.realEstate {
  top: calc(50% - 40px);
  left: 24px;
  font-family: var(--font-cresta);
  text-align: left;
}
.b5 {
  top: calc(50% + 1px);
  right: -1px;
  line-height: 20px;
}
.infrastructure {
  position: absolute;
  top: calc(50% + 2px);
  left: 24px;
  font-family: var(--font-cresta);
  text-align: left;
}
.b6,
.b7 {
  position: absolute;
  right: -1px;
  line-height: 20px;
}
.b6 {
  top: calc(50% + 43px);
}
.b7 {
  bottom: 21px;
}
.naturalResourcesCommoditiesContainer,
.privateDebt {
  position: absolute;
  left: 24px;
  font-family: var(--font-cresta);
  text-align: left;
}
.privateDebt {
  top: calc(50% + 44px);
}
.naturalResourcesCommoditiesContainer {
  bottom: 0;
  line-height: 20px;
}
.colorIcon {
  position: absolute;
  height: calc(100% - 24px);
  top: 2px;
  bottom: 22px;
  left: 0;
  max-height: 100%;
  width: 16px;
}
.parent {
  position: absolute;
  top: calc(50% - 114.6px);
  right: 17.8px;
  width: 266px;
  height: 250px;
  text-align: right;
  font-family: var(--font-azo-sans);
}
.b8,
.totalAssetsUnder {
  position: absolute;
  text-align: center;
}
.b8 {
  top: calc(50% + 28.66px);
  left: calc(50% + 104.1px);
  font-size: var(--font-size-9xl);
  letter-spacing: 1.12px;
  text-transform: uppercase;
  font-family: var(--font-azo-sans);
}
.totalAssetsUnder {
  top: calc(50% + 12.66px);
  left: calc(50% + 98.1px);
  line-height: 19px;
}
.ringChart1Icon {
  position: absolute;
  bottom: -19.5px;
  left: calc(50% + 44.98px);
  width: 325.7px;
  height: 327.71px;
}
.groupChild17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 211px;
  height: 107px;
}
.assetsUnderManagement,
.b9 {
  position: absolute;
  top: 12px;
  left: 13px;
  line-height: 18px;
}
.b9 {
  top: 42px;
  font-size: var(--font-size-5xl);
  line-height: 15px;
  font-family: var(--font-azo-sans);
}
.rectangleParent2,
.rectangleParent3,
.rectangleParent4 {
  position: absolute;
  height: 27.49%;
  width: 15.52%;
  top: 26.72%;
  right: 84.48%;
  bottom: 45.79%;
  left: 0;
}
.rectangleParent3,
.rectangleParent4 {
  right: 68.23%;
  left: 16.25%;
}
.rectangleParent4 {
  right: 51.98%;
  left: 32.5%;
}
.selectboxfilter1 {
  left: 193px;
  width: 110px;
  font-family: var(--font-azo-sans);
}
.selectboxfilter1,
.selectboxfilter2,
.selectboxfilter3 {
  position: absolute;
  top: 49.01px;
  height: 32px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.selectboxfilter2 {
  left: 0;
  width: 180px;
}
.selectboxfilter3 {
  left: calc(50% - 367.8px);
  width: 170px;
  font-family: var(--font-azo-sans);
}
.keyPerformanceMetricsParent {
  position: absolute;
  width: calc(100% - 36.2px);
  top: 18px;
  right: 18.2px;
  left: 18px;
  height: 389.22px;
}
.groupChild20 {
  position: absolute;
  height: 0.39%;
  width: 100.07%;
  top: -0.19%;
  right: 0;
  bottom: 99.81%;
  left: -0.07%;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.div69 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  letter-spacing: 0.1px;
}
.div68,
.div70 {
  position: absolute;
  right: 0;
  height: 20px;
}
.div68 {
  bottom: 0;
  width: 9px;
}
.div70 {
  top: calc(50% + 80px);
  width: 26px;
}
.div72,
.div74 {
  right: 0;
  width: 27px;
}
.div72 {
  position: absolute;
  top: calc(50% + 18px);
  height: 20px;
}
.div74 {
  top: calc(50% - 44px);
}
.div74,
.div76,
.k {
  position: absolute;
  height: 20px;
}
.div76 {
  top: calc(50% - 106px);
  right: 0;
  width: 27px;
}
.k {
  width: calc(100% - 1px);
  top: 0;
  right: 1px;
  left: 0;
}
.value {
  height: calc(100% - 30px);
  top: 2px;
  bottom: 28px;
  left: 0;
  width: 32px;
  font-family: var(--font-poppins);
}
.jan,
.shapeIcon,
.value {
  position: absolute;
}
.jan {
  top: calc(50% + 166px);
  left: 4.17%;
}
.shapeIcon {
  height: calc(100% - 30px);
  top: 0;
  bottom: 30px;
  left: calc(50% + 0.51px);
  max-height: 100%;
  width: 0.98px;
}
.widgetsElementsChart {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px;
}
.jan1 {
  position: absolute;
  top: calc(50% + 166px);
  left: 0;
}
.widgetsElementsChart1 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 99px;
  bottom: 0;
  width: 24px;
}
.jan2 {
  position: absolute;
  top: calc(50% + 166px);
  left: 4.55%;
}
.widgetsElementsChart2 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 222px;
  bottom: 0;
  width: 22px;
}
.widgetsElementsChart3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 258.5px);
  width: 24px;
  color: var(--color-gray-200);
}
.jan4 {
  position: absolute;
  top: calc(50% + 166px);
  left: -4.55%;
}
.widgetsElementsChart4 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 148.5px);
  width: 22px;
}
.jan5 {
  position: absolute;
  top: calc(50% + 166px);
  left: 5.56%;
}
.widgetsElementsChart5,
.widgetsElementsChart6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 44.5px);
  width: 18px;
}
.widgetsElementsChart6 {
  left: calc(50% - 64.5px);
  width: 22px;
}
.jan7 {
  position: absolute;
  top: calc(50% + 166px);
  left: 3.85%;
}
.widgetsElementsChart7,
.widgetsElementsChart8 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 177.5px);
  width: 26px;
}
.widgetsElementsChart8 {
  left: calc(50% - 284.5px);
  width: 20px;
}
.widgetsElementsChart10,
.widgetsElementsChart9 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 194px;
  width: 24px;
}
.widgetsElementsChart10 {
  left: 97px;
  width: 22px;
}
.jan11 {
  position: absolute;
  top: calc(50% + 166px);
  left: 9.09%;
}
.month,
.widgetsElementsChart11 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.widgetsElementsChart11 {
  left: 0;
  width: 22px;
}
.month {
  width: calc(100% - 91.85px);
  right: 11.85px;
  left: 80px;
  text-align: center;
  font-size: var(--font-size-smi);
}
.lineIcon,
.lineIcon1,
.lineIcon2,
.lineIcon3 {
  position: absolute;
  width: calc(100% - 69.7px);
  top: calc(50% - 37.84px);
  right: -23.85px;
  left: 93.54px;
  max-width: 100%;
  overflow: hidden;
  height: 136.45px;
}
.lineIcon1,
.lineIcon2,
.lineIcon3 {
  width: calc(100% - 63.48px);
  right: -30.06px;
}
.lineIcon2,
.lineIcon3 {
  width: calc(100% - 99.56px);
  top: calc(50% - 88.13px);
  right: 6.02px;
  height: 125.11px;
}
.lineIcon3 {
  width: calc(100% - 91.85px);
  right: -1.7px;
  height: 121.19px;
}
.titlee {
  position: relative;
  display: inline-block;
  margin-left: 1px;
}
.sales {
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 8px;
  height: 8px;
  margin-top: 1px;
}
.div78,
.onlineSales,
.sales {
  position: relative;
}
.onlineSales {
  color: var(--color-gray-200);
  margin-left: 6px;
}
.data,
.dataKey {
  height: 17px;
  display: flex;
}
.data {
  width: 156px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.dataKey {
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-poppins);
}
.tooltipbgIcon {
  position: relative;
  width: 221px;
  height: 108px;
  margin-left: -10px;
}
.tooltipPointerDown {
  position: absolute;
  top: 91px;
  left: calc(50% + 280.57px);
  width: 176px;
  height: 63px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-mini);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-7xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
}
.chart,
.title {
  position: absolute;
}
.chart {
  width: calc(100% - 16.46px);
  right: 0;
  bottom: 0;
  left: 16.46px;
  height: 366px;
  text-align: right;
}
.title {
  top: calc(50% - 225.5px);
  left: 0.03%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.11px;
  color: var(--color-gray-300);
}
.privateEquity1 {
  position: absolute;
  top: 0.5px;
  left: 24px;
}
.hedgeFunds1,
.realEstate1 {
  position: absolute;
  top: 1.5px;
  left: calc(50% - 262.46px);
}
.realEstate1 {
  left: calc(50% - 135px);
}
.infrastructure1,
.privateDebt1 {
  position: absolute;
  top: 0.5px;
  left: calc(50% - 24.54px);
}
.privateDebt1 {
  top: 0;
  left: calc(50% + 101.92px);
}
.naturalResourcesCommodities {
  position: absolute;
  top: 0;
  right: -1px;
  line-height: 20px;
}
.purpleellipseIcon {
  position: absolute;
  height: calc(100% - 4.5px);
  top: 1.5px;
  bottom: 3px;
  left: calc(50% - 48.54px);
  max-height: 100%;
  width: 16px;
}
.purpleellipseIcon1,
.purpleellipseIcon2 {
  position: absolute;
  top: 1px;
  left: calc(50% + 77.92px);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.purpleellipseIcon2 {
  left: calc(50% + 193.92px);
}
.blueellipseIcon,
.redellipseIcon,
.yellowellipseIcon {
  position: absolute;
  height: calc(100% - 4.5px);
  top: 2.5px;
  bottom: 2px;
  border-radius: 50%;
  max-height: 100%;
  width: 16px;
}
.yellowellipseIcon {
  left: calc(50% - 159px);
}
.blueellipseIcon,
.redellipseIcon {
  left: 132.46px;
}
.blueellipseIcon {
  top: 1.5px;
  bottom: 3px;
  left: 0;
}
.privateEquityParent {
  position: absolute;
  top: 38.51px;
  left: 0;
  width: 837.85px;
  height: 20.5px;
  color: var(--color-gray-200);
}
.totalSales {
  position: absolute;
  height: calc(100% - 62px);
  width: calc(100% - 18.4px);
  top: 30px;
  right: 18.4px;
  bottom: 32px;
  left: 0;
  font-size: var(--font-size-sm);
}
.selectboxbg4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.selectboxfilter4,
.selectboxfilter5 {
  position: absolute;
  top: 24px;
  height: 32px;
}
.selectboxfilter4 {
  right: 26.15px;
  width: 110px;
  color: var(--color-silver);
  font-family: var(--font-azo-sans);
}
.selectboxfilter5 {
  right: 148.25px;
  width: 180px;
  color: var(--color-gray-100);
}
.lineGroup {
  position: absolute;
  width: calc(100% - 42.29px);
  right: 17.75px;
  bottom: 39.78px;
  left: 24.54px;
  height: 513px;
  font-size: var(--font-size-smi);
  color: var(--color-lightslategray);
}
.title1 {
  position: absolute;
  top: calc(50% - 443.39px);
  left: 53.72%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.11px;
  color: var(--color-gray-300);
}
.path457Parent {
  position: absolute;
  bottom: 79.22px;
  left: 142px;
  width: 1396px;
  height: 1008.78px;
}
.navbarbgIcon {
  position: absolute;
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  top: 0;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.userMenuIcon {
  position: absolute;
  top: calc(50% - 17px);
  right: 22px;
  width: 62px;
  height: 36px;
}
.groupIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 109.79px;
}
.t {
  letter-spacing: -0.06px;
}
.v {
  letter-spacing: -0.13px;
}
.alternativeInvestmentPlatforContainer {
  position: absolute;
  top: calc(50% - 11px);
  right: 19px;
  line-height: 12px;
}
.groupParent1 {
  position: absolute;
  top: calc(50% - 19.7px);
  left: 22px;
  width: 261.22px;
  height: 39.4px;
}
.search {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 64px);
}
.iconactionsearch24px {
  position: absolute;
  top: calc(50% - 12px);
  left: 8px;
  width: 24px;
  height: 24px;
}
.searchParent {
  position: absolute;
  top: calc(50% - 17px);
  right: 102px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 220px;
  height: 36px;
  font-family: var(--font-cresta);
}
.navbarbgParent {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1520px;
  height: 70px;
  font-family: var(--font-cresta-medium);
}
.path428Icon {
  position: absolute;
  height: 100%;
  width: calc(100% - 0.5px);
  top: 0;
  right: 0.5px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.storefrontFill0Wght400Grad0Icon {
  position: absolute;
  top: 20px;
  right: 28.83px;
  width: 22.33px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 143px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.notificationsFill0Wght400GrIcon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 32px;
  bottom: 20px;
  max-height: 100%;
  width: 16px;
  opacity: 0.5;
}
.leftNavButtonInner {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 2px);
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.div80 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% + 2px);
  letter-spacing: 0.8px;
  font-weight: 500;
}
.leftNavButton1 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 203px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.iconAwesomeTasks {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.7px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton2 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 217px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.manageAccountsFill0Wght400Icon {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.8px;
  height: 20px;
}
.leftNavButton3 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 97px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.homeStorageFill0Wght400GraIcon {
  position: absolute;
  right: 30.16px;
  bottom: 20px;
  width: 19.69px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton4 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 157px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.settingsFill0Wght400Grad0OIcon {
  position: absolute;
  top: calc(50% - 10px);
  right: 30.22px;
  width: 19.56px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton5 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 92px;
  left: 0;
  height: 60px;
}
.logoutFill0Wght400Grad0OpsIcon {
  position: absolute;
  top: 20px;
  right: 30.17px;
  width: 19.67px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton6 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 32px;
  left: 0;
  height: 60px;
}
.leftNavButtonChild3 {
  position: absolute;
  height: calc(100% - 12px);
  top: 6px;
  bottom: 6px;
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-100);
  width: 48px;
}
.homeFill1Wght400Grad0Opsz4Icon {
  position: absolute;
  top: calc(50% - 10.19px);
  left: calc(50% - 9.05px);
  width: 18.16px;
  height: 20px;
}
.leftNavButtonChild4 {
  position: absolute;
  height: calc(100% - 12px);
  top: 6px;
  bottom: 6px;
  left: 0;
  background-color: var(--color-deepskyblue-200);
  width: 6px;
}
.leftNavButton7 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 83px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.domainFill0Wght400Grad0OpsIcon {
  position: absolute;
  width: calc(100% - 57.78px);
  right: 28.76px;
  bottom: 20.19px;
  left: 29.01px;
  max-width: 100%;
  overflow: hidden;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton8 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 443px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.leftNavClosedChild {
  position: absolute;
  top: 798.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 81px;
  height: 2px;
}
.closedMenuIconChild {
  top: 0;
  width: 22px;
}
.closedMenuIconChild,
.closedMenuIconInner,
.closedMenuIconItem {
  position: absolute;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  height: 2.5px;
}
.closedMenuIconItem {
  bottom: 0;
  width: 22px;
}
.closedMenuIconInner {
  top: calc(50% - 1.25px);
  width: 17px;
}
.chevronRightFill0Wght400GrIcon {
  position: absolute;
  height: 73.95%;
  width: 28.07%;
  top: 13.55%;
  right: 0;
  bottom: 12.5%;
  left: 71.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closedMenuIcon {
  position: absolute;
  top: 25px;
  left: 22.29px;
  width: 29.81px;
  height: 20px;
  opacity: 0.5;
}
.navDrawerLeft {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 80.5px;
  height: 960px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-azo-sans);
}
.component20927 {
  position: absolute;
  top: 848px;
  right: 4px;
  width: 74px;
  height: 74px;
}
.fundManagerDashboard {
  position: relative;
  background-color: var(--color-aliceblue-100);
  width: 100%;
  height: 2128px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-cresta);
}
