@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");
@font-face {
  font-family: "Cresta";
  src: url("/public/Cresta-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Cresta";
  src: url("/public/Cresta-Light.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Cresta";
  src: url("/public/Cresta-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Azo Sans";
  src: url("/public/AzoSans-Light.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Azo Sans";
  src: url("/public/AzoSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Cresta-Medium";
  src: url("/public/Cresta-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Azo Sans";
  src: url("/public/AzoSans-Regular.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-azo-sans: "Azo Sans";
  --font-cresta: Cresta;
  --font-cresta-medium: Cresta-Medium;
  --font-poppins: Poppins;
  --font-source-sans-pro: "Source Sans Pro";

  /* font sizes */
  --font-size-5xs: 8px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-3xl: 22px;
  --font-size-2xs: 11px;
  --font-size-mini: 15px;
  --font-size-7xs: 6px;

  /* Colors */
  --color-aliceblue-100: #eaf0f7;
  --color-aliceblue-200: #eaf0f4;
  --color-aliceblue-300: rgba(234, 240, 247, 0.6);
  --color-white: #fff;
  --color-gray-100: #808080;
  --color-gray-200: #0a1a27;
  --color-gray-300: #131523;
  --color-gray-400: rgba(10, 26, 39, 0.11);
  --color-gray-500: rgba(255, 255, 255, 0.5);
  --color-deepskyblue-100: #57b8ff;
  --color-deepskyblue-200: #38b5e8;
  --color-gainsboro-100: #d2dae0;
  --color-silver: #b7b7b7;
  --color-mediumslateblue: #0062ff;
  --color-lightslategray: #7e84a3;
  --color-lightgray-100: #d5d7e3;
  --color-lightgray-200: #c0cdd9;
  --color-royalblue: #1f61c5;
  --color-lightsteelblue: #b0c1d2;
  --color-dimgray-100: #707070;
  --color-dimgray-200: #4d4f5c;
  --color-orange: #ffbe00;
  --color-skyblue: #55d8fe;
  --color-slategray: #5a607f;

  /* Gaps */
  --gap-7xs: 6px;
  --gap-9xs: 4px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-mini: 15px;

  /* border radiuses */
  --br-81xl: 100px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-9xs: 4px;
  --br-sm: 14px;
  --br-181xl: 200px;
  --br-11xl: 30px;
  --br-xl: 20px;
}
